<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{{title}} | Hospital Management System</title>
		<link
			rel="stylesheet"
			href="{{url_for('static', path='plugins/fontawesome-free/css/all.min.')}}css"
		/>
		<link
			rel="stylesheet"
			href="{{url_for('static', path='plugins/overlayScrollbars/css/OverlayScrollbars.min.')}}css"
		/>
		<link
			rel="stylesheet"
			href="{{url_for('static', path='plugins/datatables-bs4/css/dataTables.bootstrap4.min.')}}css"
		/>
		<link
			rel="stylesheet"
			href="{{url_for('static', path='plugins/datatables-responsive/css/responsive.bootstrap4.min.')}}css"
		/>
		<link
			rel="stylesheet"
			href="{{url_for('static', path='plugins/datatables-buttons/css/buttons.bootstrap4.min.')}}css"
		/>
		<link rel="stylesheet" href="{{url_for('static', path='dist/css/adminlte.min.css')}}" />
    {%block styles%}
    {%endblock%}
	</head>
	<body class="layout-top-nav control-sidebar-slide-open layout-navbar-fixed">
		<div class="wrapper">
			<!-- 
        | =================================================================================
        |                               TOP NAVIGATION BAR
        | =================================================================================
        -->
			<nav
				class="main-header navbar navbar-expand-md navbar-light navbar-white"
			>
				<div class="container">
					<!-- Brand -->
					<a href="/" class="navbar-brand order-0">
						<img
							src="../../dist/img/AdminLTELogo.png"
							alt="HoMIES"
							class="brand-image img-circle"
							style="opacity: 0.8"
						/>
						<span class="brand-text font-weight-light">HoMIES</span>
					</a>

					<!-- Navbar Toggler -->
					<button
						class="navbar-toggler order-1 border-0"
						type="button"
						data-toggle="collapse"
						data-target="#navbarCollapse"
					>
						<i class="fas fa-bars"></i>
					</button>

					<!-- Left Navbar Links -->
					<div class="collapse navbar-collapse order-3" id="navbarCollapse">
						<ul class="navbar-nav">
							<!-- Medical Services -->
							<li class="nav-item dropdown">
								<a
									id="dropdownSubMenu1"
									href="#"
									data-toggle="dropdown"
									class="nav-link dropdown-toggle"
									>Medical Services</a
								>

								<ul class="dropdown-menu border-0 shadow">
									<li><a href="#" class="dropdown-item">Find a Doctor</a></li>
								</ul>
							</li>

							<!-- Patient & Visitor -->
							<li class="nav-item dropdown">
								<a
									id="dropdownSubMenu1"
									href="#"
									data-toggle="dropdown"
									aria-haspopup="true"
									aria-expanded="false"
									class="nav-link dropdown-toggle"
									>Patients & Visitors</a
								>
								<ul
									aria-labelledby="dropdownSubMenu1"
									class="dropdown-menu border-0 shadow"
								>
                  <h5 class="dropdown-header">Patients</h5>
									<li><a href="#" class="dropdown-item">Teleconsult</a></li>
                  <h5 class="dropdown-header">Visitors</h5>
                  <li>
                    <a href="/visitor" class="dropdown-item">
                      Visitor Portal
                    </a>
                  </li>
									<li>
										<a href="/visiting_schedule" class="dropdown-item {{ 'active' if page == 'visiting_schedule' }}">Visiting Schedules</a>
									</li>
                  <li>
										<a href="/visiting_procedures" class="dropdown-item {{ 'active' if page == 'visiting_procedures' }}">
                      Visiting Procedures
                    </a>
									</li>
                  <li>
										<a href="/visiting_policies_requirements" class="dropdown-item {{ 'active' if page == 'visiting_policies_requirements' }}">
                      Visiting Policies and Requirements
                    </a>
									</li>

									
									<!-- End Level two -->
								</ul>
							</li>

							<!-- Careers -->
							<li class="nav-item">
								<a href="#careers" class="nav-link">Careers</a>
							</li>

							<!-- About Us -->
							<li class="nav-item dropdown">
								<div
									role="button"
									data-toggle="dropdown"
									class="nav-link dropdown-toggle"
								>
									About Us
								</div>
								<ul
									aria-labelledby="dropdownSubMenu1"
									class="dropdown-menu border-0 shadow"
								>
									<li>
										<a href="#" class="dropdown-item">Vision & Mission</a>
									</li>
									<li><a href="#" class="dropdown-item">History</a></li>
									<li class="dropdown-divider"></li>
									<li><a href="#" class="dropdown-item">Data Privacy</a></li>
									<li>
										<a href="#" class="dropdown-item">Terms and Conditions</a>
									</li>
									<li><a href="#" class="dropdown-item">FAQ</a></li>
								</ul>
							</li>
						</ul>
					</div>

					<!-- Right Navbar Links -->
					<div class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
						<a
							href="#"
							class="btn btn-outline-primary text-nowrap"
						>
							<span>Login</span>
							<i class="fas fa-sign-in-alt ml-1"></i>
						</a>
					</div>
				</div>
			</nav>

			<!-- 
        | =================================================================================
        |                                   CONTENT / BODY
        | =================================================================================
        -->
			<div class="content-wrapper pb-5">
				<!-- Content Header -->
				<!-- <div class="content-header">
					<div class="container">
						<h1 class="m-0">Find a doctor</h1>
						<div class="text-secondary">
							Lorem ipsum dolor sit amet consectetur, adipisicing elit.
						</div>
					</div>
				</div> -->

        {%block content_header%}{%endblock%}

				<!-- Content -->
				<div class="content">
					{%block content%}{%endblock%}
				</div>
			</div>

			<!-- 
        | =================================================================================
        |                                    FOOTERS
        | =================================================================================
        -->

			<!-- Main Footer -->
			<div class="main-footer bg-dark text-white pb-5">
				<div class="container py-3">
					<div class="row">
						<div class="col-md-4">
							<div class="container my-3">
								<h5>About Us</h5>
								<p>
									Holistic medical clinics and holistic medical practitioners
									offer a variety of holistic and naturopathic medical
									treatments and holistic and alternative medical treatments.
								</p>

								<ul class="nav flex-column">
									<li class="nav-item nav-link">
										<i class="fas fa-phone mr-1"></i>
										<span>123-456-(7890)</span>
									</li>
									<li class="nav-item nav-link">
										<i class="fas fa-building mr-1"></i>
										<span>123 Somewhere St. Commonwealth, QC</span>
									</li>
								</ul>
							</div>
						</div>

						<div class="col-md-4">
							<div class="container my-3">
								<h5>Quick Links</h5>
								<ul class="nav flex-column">
									<li class="nav-item">
										<a class="nav-link text-white" href="#">Home</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-white" href="#">About Us</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-white" href="#">Careers</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-white" href="#"
											>Patients & Visitors</a
										>
									</li>
								</ul>
							</div>
						</div>

						<div class="col-md-4">
							<div class="container my-3">
								<h5>Contact Us</h5>
								<form class="form-group" id="emailForUpdates">
									<p>
										Send us your email here and you will be updated on our news
										and services
									</p>
									<div class="input-group">
										<input
											type="email"
											class="form-control"
											id="email"
											name="email"
											placeholder="Type your email here"
										/>
										<div class="input-group-append">
											<button type="submit" class="btn btn-primary">
												<i class="fas fa-paper-plane"></i>
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Small Footer -->
			<footer class="main-footer navbar-dark">
				<div class="container">
					<div
						class="
							d-flex
							flex-column flex-sm-row
							justify-content-center justify-content-sm-between
							align-items-center
						"
					>
						<strong>Copyright &copy; 2014-2021 Homies.</strong>
						<div>All rights reserved</div>
					</div>
				</div>
			</footer>
		</div>

		<!-- jQuery -->
		<script src="{{url_for('static', path='plugins/jquery/jquery.min.js')}}"></script>
		<!-- Bootstrap 4 -->
		<script src="{{url_for('static', path='plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
		<!-- overlayScrollbars -->
		<script src="{{url_for('static', path='plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')}}"></script>
		<!-- AdminLTE App -->
		<script src="{{url_for('static', path='dist/js/adminlte.min.js')}}"></script>
	</body>
</html>
