<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Receptionist | Hospital Management System</title>
		<link
			rel="shortcut icon"
			href="{{url_for('static', path='/img/logo.png')}}"
			type="image/x-icon"
		/>
		<!-- Font Awesome -->
		<link
			rel="stylesheet"
			href="{{url_for('static',path='/plugins/fontawesome-free/css/all.min.css')}}"
		/>

		<!-- overlayScrollbars -->
		<link
			rel="stylesheet"
			href="{{url_for('static',path='/plugins/overlayScrollbars/css/OverlayScrollbars.min.css')}}"
		/>
		<link rel="stylesheet" href="{{url_for('static', path='/plugins/select2/css/select2.min.css')}}">
		<link	rel="stylesheet" href="{{url_for('static', path='/plugins/toastr/toastr.min.css')}}" />

		{%block plugin_css%} {%endblock%}

		<!-- Theme style -->
		<link
			rel="stylesheet"
			href="{{url_for('static',path='/dist/css/adminlte.min.css')}}"
		/>
		<style>
			.content-wrapper {
				min-height: calc(
					100vh - calc(3.5rem + 1px) - calc(3.5rem + 1px)
				) !important;
			}
		</style>
		{%block styles%} {%endblock%}
	</head>
	<body
		class="
			hold-transition
			sidebar-mini
			layout-fixed layout-navbar-fixed
			user-select-none
		"
	>
		<!-- Site wrapper -->
		<div class="wrapper">
			<!-- Preloader -->
			<!-- <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="../../dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div> -->

			<!-- Top Navbar -->
			<nav class="main-header navbar navbar-expand navbar-white navbar-light">
				<!-- Left navbar links -->
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" data-widget="pushmenu" href="#" role="button"
							><i class="fas fa-bars"></i
						></a>
					</li>

				</ul>
				<!-- /.navbar-nav -->

				<!-- Right navbar links -->
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a href="#" class="nav-link" data-toggle="modal" data-target="#evacuation_modal">Evacuation Alert</a>
					</li>
					<li class="nav-item dropdown">
						<a
							class="nav-link dropdown-toggle"
							href="#"
							id="navbarDropdown"
							role="button"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false"
						>
							<i class="fas fa-user-circle"></i>
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" id="logout" href="#">Logout</a>
						</div>
					</li>
				</ul>
				<!-- /.navbar-nav -->
			</nav>
			<!-- /.navbar -->

			<!-- Main Sidebar Container -->
			<aside class="main-sidebar main-sidebar-custom sidebar-light-primary">
				<!-- Brand Logo -->
				<a href="../../index3.html" class="brand-link">
					<img
						src="{{url_for('static', path='/img/logo.png')}}"
						alt=""
						class="brand-image img-circle border"
						style="opacity: 0.8"
					/>
					<span class="brand-text font-weight-light">HoMIES</span>
				</a>

				<!-- Sidebar -->
				<div class="sidebar">
					<!-- Sidebar user (optional) -->
					<div class="user-panel mt-3 pb-3 mb-3 d-flex">
						<div class="image">
							<img
								src="{{url_for('static', path='/img/user_receptionist.png')}}"
								alt=""
								srcset=""
							/>
						</div>
						<div class="info mr-1 w-100" id="userFullNameDisplay">
							<!-- User Full Name -->
							<a href="#" class="nav-item text-truncate" id="userFullName"
								>{{name}}</a
							>

							<!-- User Position -->
							<div class="small text-secondary text-truncate">Receptionist</div>

							<!-- User Department -->
							<div class="small text-secondary text-truncate">{{station}}</div>
						</div>
					</div>

					<!-- Sidebar Menu -->
					<nav class="mt-2">
						<ul
							class="nav nav-pills nav-sidebar flex-column"
							data-widget="treeview"
							role="menu"
							data-accordion="false"
						>
							<li class="nav-header">CORE</li>
							<li class="nav-item">
								<a
									href="/receptionist/dashboard"
									class="nav-link {{'active' if page == 'dashboard'}}"
								>
									<i class="nav-icon fas fa-chart-line"></i>
									<p>Dashboard</p>
								</a>
							</li>

							<li class="nav-item">
								<a
									href="/receptionist/visits?tab=all"
									class="nav-link {{'active' if page == 'visits'}}"
								>
									<i class="nav-icon fas fa-walking"></i>
									<p>All Visits</p>
								</a>
							</li>

							<li class="nav-item">
								<a
									href="/receptionist/appointments?tab=request"
									class="nav-link {{'active' if page == 'appointments'}}"
								>
									<i class="nav-icon fas fa-calendar"></i>
									<p>Appointments</p>
								</a>
							</li>

							<li class="nav-item">
								<a
									href="/receptionist/blacklist?tab=active"
									class="nav-link {{'active' if page == 'blacklist'}}"
								>
									<i class="nav-icon fas fa-user-slash"></i>
									<p>Blacklist</p>
								</a>
							</li>

							<li class="nav-item">
								<a
									href="/receptionist/analytics"
									class="nav-link {{'active' if page == 'analytics'}}"
								>
									<i class="nav-icon fas fa-tachometer-alt"></i>
									<p>Analytics</p>
								</a>
							</li>

              <li class="nav-item">
								<a
									href="/receptionist/mailer"
									class="nav-link {{'active' if page == 'mailer'}}"
								>
									<i class="nav-icon fas fa-mail-bulk"></i>
									<p>Send COVID-19 Alerts</p>
								</a>
							</li>
						</ul>
					</nav>
					<!-- /.sidebar-menu -->
				</div>
				<!-- /.sidebar -->

				<!-- Sidebar Custom -->
				<div class="sidebar-custom"></div>
				<!-- /.sidebar-custom -->
			</aside>
			<!-- /.main-sidebar -->

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<!-- Title -->
							<div class="col-sm-6">
								<h1>{{page_title}}</h1>
							</div>
						</div>
					</div>
					<!-- /.container-fluid -->
				</section>
				<!-- /.content-header -->

				<!-- Main content -->
				<section class="content">
					<div class="container-fluid">{%block content%}{%endblock%}</div>
				</section>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->

			<!-- Main Footer -->
			<footer class="main-footer">
				<div class="float-right d-none d-sm-block"><b>Version</b> 0.1.0</div>
				<strong>Copyright &copy; 2021 <a href="#">HoMIES</a>.</strong> All rights
				reserved.
			</footer>
			<!-- /.main-footer -->
		</div>
		<!-- ./wrapper -->

		<div class="modal fade" id="evacuation_modal" tabindex="-1" aria-labelledby="evacuation_modal_label" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<form id="evacuation_form">
						<div class="modal-header">
							<h5 class="modal-title" id="evacuation_modal_label">Evacuation Alert SMS</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div id="form_spinner" class="d-none">
								<center>
									<div class="spinner-border text-primary" role="status"></div>
									<p>Processing...</p>
								</center>
							</div>
							<div class="form-group">
								<label for="hazard">Select Emergency</label>
								<select name="hazard" id="hazard">
									<option value="FIRE">Fire</option>
									<option value="HOSTILE INTRUDER">Hostile Intruder</option>
									<option value="BOMB THREAT">Bomb Threat</option>
									<option value="EXPLOSION">Explosion</option>
								</select>
							</div>
							<div class="form-group">
								<label for="station">Select Place of Emergency</label>
								<select name="station" id="station"></select>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Send to All Visitors</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		{%block modal%} {%endblock%}

		<!-- jQuery -->
		<script src="{{url_for('static',path='/plugins/jquery/jquery.min.js')}}"></script>
		<!-- Bootstrap 4 -->
		<script src="{{url_for('static',path='/plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
		<!-- overlayScrollbars -->
		<script src="{{url_for('static', path='plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')}}"></script>
		<script src="{{url_for('static', path='/plugins/select2/js/select2.min.js')}}"></script>
		<script src="{{url_for('static', path='/plugins/toastr/toastr.min.js')}}"></script>

		{%block plugin_js%} {%endblock%}
		<!-- AdminLTE App -->
		<script src="{{url_for('static',path='/dist/js/adminlte.min.js')}}"></script>
		{%block scripts%} {%endblock%}

		<script>
			$('#logout').click((e) => {
				e.preventDefault()
				$.ajax({
					type: 'POST',
					url: '/auth/logout',
					dataType: 'json',
					success: function (response) {
						if (!response.error) window.location.reload()
					},
				})
			})
			

			$.ajax({
				type: "GET",
				url: "/stations/all",
				dataType: "json",
				success: function (response) {
					response.data.forEach(el => {
						let builder = `
							<option value="${el.name.toUpperCase()}">${el.name.toUpperCase()}</option>
						`
						$('[name=station]').append(builder)
					})
				}
			});
		
			$('#hazard').select2({width: '100%',placeholder: {id: '', text: 'Select Hazard'}})
			$('[name=station]').select2({width: '100%', placeholder: {id: '', text: 'Select Station'}})

			$('#evacuation_form').submit((e)=>{
				e.preventDefault()
				$.ajax({
					xhr: function(){
						xhr = new XMLHttpRequest()
						xhr.upload.addEventListener('progress', ()=>{
							$('#form_spinner').removeClass('d-none')
							$('.form-group').addClass('d-none')
						})
						return xhr
					},
					url: '/sms/send',
					method: 'POST',
					dataType: 'json',
					contentType: 'application/json',
					xhrFields:{
						withCredentials: true
					},
					data: JSON.stringify({
						hazard: $('#hazard').val(),
						station: $('#station').val()
					}),
					success: function(response){
						$('#evacuation_modal').modal('hide')
						setTimeout(()=>{
							$('#form_spinner').addClass('d-none')
							$('.form-group').removeClass('d-none')
						}, 300)
						if(!response.error)
							toastr.success(response.message)
					}
				})
			})
		</script>
	</body>
</html>
