
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Visitor | Hospital Management System</title>
  <link rel="shortcut icon" href="{{url_for('static', path='/img/logo.png')}}" type="image/x-icon">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{url_for('static',path='/plugins/fontawesome-free/css/all.min.css')}}">
  
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{{url_for('static',path='/plugins/overlayScrollbars/css/OverlayScrollbars.min.css')}}">
  
  {%block plugin_css%}
  {%endblock%}

  <!-- Theme style -->
  <link rel="stylesheet" href="{{url_for('static',path='/dist/css/adminlte.min.css')}}">
  <style>
    .content-wrapper{
      min-height: calc(100vh - calc(3.5rem + 1px) - calc(3.5rem + 1px)) !important;
    }
  </style>
  {%block styles%}
  {%endblock%}

</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed user-select-none">

<!-- Site wrapper -->
<div class="wrapper">

  <!-- Preloader -->
  {%if preload%}
  <div class="preloader flex-column justify-content-center align-items-center">
    <div class="spinner d-block">
      <div class="spinner-border"></div>
    </div>
  </div>
  {%endif%}
  
  <!-- Top Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>
    <!-- /.navbar-nav -->

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user-circle"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a href="/visitor/profile" class="dropdown-item">Profile</a>
              <a class="dropdown-item" id="logout" href="#">Logout</a>
            </div>
          </li>
    </ul>
    <!-- /.navbar-nav -->
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar main-sidebar-custom sidebar-light-primary">
    
    <!-- Brand Logo -->
    <a href="../../index3.html" class="brand-link">
      <img src="{{url_for('static', path='/img/logo.png')}}" alt="" class="brand-image img-circle border" style="opacity: .8">
      <span class="brand-text font-weight-light">HoMIES</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{{url_for('static', path='/img/user_receptionist.png')}}" alt="" srcset="">
        </div>
        <div class="info mr-1 w-100" id="userFullNameDisplay">
          <!-- User Full Name -->
          <a href="#" class="nav-item text-truncate" id="userFullName"
            >{{name}}</a
          >
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <li class="nav-header">CORE</li>
          <li class="nav-item">
            <a href="/visitor/appointments" class="nav-link {{'active' if page == 'appointments'}}">
              <i class="nav-icon fas fa-chart-line"></i>
              <p>Appointments</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/visitor/history" class="nav-link {{'active' if page == 'history'}}">
              <i class="nav-icon fas fa-calendar"></i>
              <p>History</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/visitor/profile" class="nav-link {{'active' if page == 'profile'}}">
              <i class="nav-icon fas fa-user-circle"></i>
              <p>Profile</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->

    </div>
    <!-- /.sidebar -->

    <!-- Sidebar Custom -->
    <div class="sidebar-custom">
    </div>
      <!-- /.sidebar-custom -->
  </aside>
  <!-- /.main-sidebar -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          
          <!-- Title -->
          <div class="col-sm-6">
            <h1>{{page_title}}</h1>
          </div>

        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        {%block content%}{%endblock%}   
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 0.1.0
    </div>
    <strong>Copyright &copy; 2021 <a href="#">HoMIES</a>.</strong> All rights reserved.
  </footer>
  <!-- /.main-footer -->
</div>
<!-- ./wrapper -->

{%block modal%}
{%endblock%}

<!-- jQuery -->
<script src="{{url_for('static',path='/plugins/jquery/jquery.min.js')}}"></script>
<!-- Bootstrap 4 -->
<script src="{{url_for('static',path='/plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<!-- overlayScrollbars -->
<script src="{{url_for('static', path='plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')}}"></script>
{%block plugin_js%}
{%endblock%}
<!-- AdminLTE App -->
<script src="{{url_for('static',path='/dist/js/adminlte.min.js')}}"></script>
{%block scripts%}
{%endblock%}

<script>
    $('#logout').click(e=>{
        e.preventDefault()
        $.ajax({
            type: "POST",
            url: "/auth/logout",
            dataType: "json",
            success: function (response) {
                if(!response.error)
                window.location.reload()
            }
        });
    })

</script>
{%if preload%}
<script>
  setTimeout(() => {
    $('.preloader>.spinner').removeClass('d-block')
  }, 3000);
</script>
{%endif%}
</body>
</html>
