{%extends 'layouts/public.html'%}

{%block content_header%}
<div class="content-header">
  <div class="container">
    <h1 class="m-0">Visiting Schedule</h1>
    <div class="text-secondary">
      
    </div>
  </div>
</div>
{%endblock%}

{%block content%}
  <div class="container">
    <div class="row">
      <div class="d-sm-none d-lg-block col-lg-3">
        <div class="card card-outline card-primary">
          <div class="card-header">Visitor's Guide</div>
          <div class="card-body">
            <nav class="nav flex-column">
              <a href="/visitor" class="nav-link">Visitor Portal</a>
              <a href="/visiting_schedule" class="nav-link disabled">Visiting Schedules</a>
              <a href="/visiting_procedures" class="nav-link">
                Visiting Procedures
              </a>
              <a href="/visiting_policies_requirements" class="nav-link">
                Visiting Policies and Requirements
              </a>
            </nav>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-outline card-primary">
          <div class="card-body">
            <p>      
              Visitors are requested to pass the Main Lobby entrance from 6:00 AM to 10:00 PM. Only two (2) visitors per patient will be allowed to enter the medical center beyond 10:00 PM. Handwashing before entering a patient's room is highly advised for all guests and visitors.
            </p>
            <table class="table-hover table-bordered mt-4 w-100">
              <thead>
                <tr>
                  <th>Station</th>
                  <th>Time</th>
                  <th>Reminders</th>
                </tr>
              </thead>
              <tbody>
                <tr valign="top">
                  <td class="p-3" width="40%">
                    <h4>Nursery</h4>
                  </td>
                  <td>
                    <div class="p-3">
                      <div>10:00 AM - 11:00 AM</div>
                      <div>04:00 PM - 05:00 PM</div>
                      <div>07:00 PM - 08:30 PM</div>
                    </div>
                  </td>
                  <td class="p-3" width="30%">
                    <li>
                    Newborn babies are kept
                    warm in the Nursery Unit for
                    the first 4 to 5 hours after
                    birth; hence, they cannot be
                    viewed right away
                    </li>
                    
                    <li>
                    Wheelchairs are not allowed
                    inside the Nursery Unit
                    </li>

                    <li>
                    Picture taking and videotaping
                    are allowed only during
                    viewing time
                    </li>
                  </td>
                </tr>
                <tr valign="top">
                  <td class="p-3" width="40%">
                    <h4>Acute Stroke Unit (ASU)</h4>
                  </td>
                  <td>
                    <div class="p-3">
                      <div>10:00 AM - 11:00 AM</div>
                      <div>06:00 PM - 08:00 PM</div>
                    </div>
                  </td>
                  <td class="p-3" width="30%">
                    <li>
                      Only one (1) visitor per patient is allowed inside the ASU
                    </li>
                  </td>
                </tr>
                <tr valign="top">
                  <td class="p-3" width="40%">
                    <h4>Pediatric Intensive Care Unit (PICU)</h4>
                  </td>
                  <td>
                    <div class="p-3">
                      <div>10:00 AM - 11:00 AM</div>
                      <div>06:00 PM - 08:00 PM</div>
                    </div>
                  </td>
                  <td class="p-3" width="30%">
                    <li>
                      Only one (1) visitor per patient is allowed inside the ASU
                    </li>
                  </td>
                </tr>
                <tr valign="top">
                  <td class="p-3" width="40%">
                    <h4>Medical Intensive Care Unit (MICU)</h4>
                  </td>
                  <td>
                    <div class="p-3">
                      <div>10:00 AM - 11:00 AM</div>
                      <div>06:00 PM - 08:00 PM</div>
                    </div>
                  </td>
                  <td></td>
                </tr>
                <tr valign="top">
                  <td class="p-3" width="40%">
                    <h4>Coronary Care Unit (CCU)</h4>
                  </td>
                  <td>
                    <div class="p-3">
                      <div>10:00 AM - 11:00 AM</div>
                      <div>06:00 PM - 08:00 PM</div>
                    </div>
                  </td>
                  <td></td>
                </tr>
                <tr valign="top">
                  <td class="p-3" width="40%">
                    <h4>Neurological Critical Care Unit (NCCU)</h4>
                  </td>
                  <td>
                    <div class="p-3">
                      <div>10:00 AM - 11:00 AM</div>
                      <div>03:00 PM - 04:00 PM</div>
                      <div>07:00 PM - 08:00 PM</div>
                    </div>
                  </td>
                  <td></td>
                </tr>
                <tr valign="top">
                  <td class="p-3" width="40%">
                    <h4>Surgical Intensive Care Unit (SICU)</h4>
                  </td>
                  <td>
                    <div class="p-3">
                      <div>10:00 AM - 11:00 AM</div>
                      <div>03:00 PM - 04:00 PM</div>
                      <div>07:00 PM - 08:00 PM</div>
                    </div>
                  </td>
                  <td></td>
                </tr>
                <tr valign="top">
                  <td class="p-3" width="40%">
                    <h4>General Ward</h4>
                  </td>
                  <td>
                    <div class="p-3">
                      <div>10:00 AM - 01:00 PM</div>
                      <div>05:00 PM - 09:00 PM</div>
                    </div>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{%endblock%}