{%extends 'layouts/public.html'%}

{%block content_header%}
<div class="content-header">
  <div class="container">
    <h1 class="m-0">Visiting Procedures</h1>
    <div class="text-secondary">
      
    </div>
  </div>
</div>
{%endblock%}

{%block content%}
  <div class="container">
    <div class="row">
      <div class="d-sm-none d-lg-block col-lg-3">
        <div class="card card-outline card-primary">
          <div class="card-header">Visitor's Guide</div>
          <div class="card-body">
            <nav class="nav flex-column">
              <a href="/visitor" class="nav-link">Visitor Portal</a>
              <a href="/visiting_schedule" class="nav-link">Visiting Schedules</a>
              <a href="/visiting_procedures" class="nav-link disabled">
                Visiting Procedures
              </a>
              <a href="/visiting_policies_requirements" class="nav-link">
                Visiting Policies and Requirements
              </a>
            </nav>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-outline card-primary">
          <div class="card-body">
            <p>
              Visitors are required to book their appointment on the hospital’s website prior to their visit. Nonpatient children under the age of 14 will not be permitted, except under extraordinary circumstances (e.g., end of life). Vendors are also not allowed, unless they have essential roles (assisting providers, delivering supplies, etc.).
            </p>

            <div class="timeline">
              <div class="time-label">
                <span class="bg-green">Online Appointment</span>
              </div>
              <div>
                <i class="fas fa-user-check bg-green"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header">Step 1</h3>

                  <div class="timeline-body">
                    Log In or Register on the hospital’s <a href="/visitor">Visitor Portal</a> so you can request an appointment.
                  </div>
                </div>
              </div>
              <div>
                <i class="fas fa-tasks bg-green"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header">Step 2</h3>

                  <div class="timeline-body">
                    Fill up the Request Form and submit your appointment request and wait for an approval.
                  </div>
                </div>
              </div>
              <div>
                <i class="fas fa-thumbs-up bg-green"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header">Step 3</h3>

                  <div class="timeline-body">
                    If your request was approved, you are required to answer a health declaration form a day or two before your scheduled visit so you can generate your health pass.
                  </div>
                </div>
              </div>
              <div>
                <i class="fas fa-download bg-green"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header">Step 4</h3>

                  <div class="timeline-body">
                    Download your health pass.
                  </div>
                </div>
              </div>
              <div>
                <i class="fas fa-walking bg-green"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header">Step 5</h3>

                  <div class="timeline-body">
                    Prepare for your visit. Make sure to read the <a href="/visiting_policies_requirements">Visiting Policies and Requirements</a> before visiting.
                  </div>
                </div>
              </div>
              <div>
                <i class="fas fa-check bg-green"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{%endblock%}