{%extends 'layouts/public.html'%}

{%block content_header%}
<div class="content-header">
  <div class="container">
    <h1 class="m-0">Visiting Policies and Requirements</h1>
    <div class="text-secondary">
      
    </div>
  </div>
</div>
{%endblock%}

{%block content%}
  <div class="container">
    <div class="row">
      <div class="d-sm-none d-lg-block col-lg-3">
        <div class="card card-outline card-primary">
          <div class="card-header">Visitor's Guide</div>
          <div class="card-body">
            <nav class="nav flex-column">
              <a href="/visitor" class="nav-link">Visitor Portal</a>
              <a href="/visiting_schedule" class="nav-link">Visiting Schedules</a>
              <a href="/visiting_procedures" class="nav-link">
                Visiting Procedures
              </a>
              <a href="/visiting_policies_requirements" class="nav-link disabled">
                Visiting Policies and Requirements
              </a>
            </nav>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-outline card-primary">
          <div class="card-body">
            <ul class="nav nav-tabs justify-content-center" role="tablist">
              <li class="nav-item">
                <a href="#general" data-toggle="pill" role="tab" class="nav-link active">
                  General
                </a>
              </li>
              <li class="nav-item">
                <a href="#hospital_rules" data-toggle="pill" role="tab" class="nav-link">
                  Hospital Rules
                </a>
              </li>
              <li class="nav-item">
                <a href="#symptom_screening" data-toggle="pill" role="tab" class="nav-link">
                  Symptom Screening
                </a>
              </li>
              <li class="nav-item">
                <a href="#visitor_instructions" data-toggle="pill" role="tab" class="nav-link">
                  Instructions for Visitors
                </a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="general">
                <div class="border border-light shadow-sm p-2">
                  <div>
                    <h5>
                      One visitor per patient will be allowed in the following areas:
                    </h5>
                    <ul>
                      <li>Inpatient and outpatient, except if the patient is COVID positive.
                        <ul>
                          <li>
                            Surgery patients cannot have visitors during pre- and post-op, however, once the patient has been admitted following surgery, one visitor may be allowed.
                          </li>
                          <li>
                            Visitor hours will be limited to 6 a.m.-9 p.m. for all inpatient units.
                          </li>
                        </ul>
                      </li>
                      <li>
                        Emergency Department, except if the patient is COVID positive. Visitors may opt into our patient companion notification system to receive text updates.
                      </li>
                      <li>
                        Inpatients and emergency department patients may have one clergy member (in addition to their visitor) at any point throughout their treatment. Only one clergy member may visit in each 24-hour period.
                        <ul>
                          <li>
                            o Prior to the visit, we ask clergy members to coordinate with hospital’s chaplain by calling the facility and asking for the in-house chaplain or house supervisor.
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="border border-light shadow-sm p-2">
                  <h5>Visitation on other patients as follows:</h5>
                  <ul>
                    <li>
                      <b>Children</b> – patients are allowed up to two parents, guardians or caregivers at the same time during inpatient stays and emergency department and clinic visits. COVID-positive pediatric patients are allowed one parent.
                    </li>
                    
                    <li>
                      <b>Inpatient obstetrics</b> - patient may have two visitors. In addition, a qualified doula may accompany the patient during active labor and for one hour after delivery. A doula's credentials should be presented prior to labor and delivery admission and can include two of three of the
                      following:
                      <ul>
                      <li>Training or certification certificate</li>
                      <li>Proof of membership to one of the local professional doula's organizations</li>
                      <li>The doula-client contract</li>
                      </ul>
                    </li>
                    <li>
                      <b>Patients with disabilities</b> that may include, but are not limited to, altered mental status, physical, intellectual or cognitive disability, communication barriers and/or behavioral concerns, will always be allowed a visitor to provide essential support and assist with the specifics of their disability.
                    </li>
                    <li>
                      <b>End of life</b> - patients may have two visitors.
                    </li>
                    <li>
                      <b>Posthumous</b> – visits permitted and should be consistent with the number of visitors allowed for each area (e.g., hospitalized adults are allowed one visitor, see visitor levels above).
                    </li>
                    <li>
                      <b>Deliveries are permitted</b>. Personnel must make deliveries at the designated delivery drop-off location at each site and follow infection-prevention guidelines.
                    </li>
                    <li><b>Service animals</b> are permitted.</li>
                  </ul>
                </div>
                <div class="border border-light shadow-sm p-2">
                  <h5>Not Permitted</h5>
                  <ul>
                    <li>
                      Non-patient children under the age of 14, except under extraordinary circumstances (e.g., end of life). 
                    </li>
                    <li>
                      Vendors, unless they have essential roles (assisting providers, delivering supplies, etc.).
                    </li>
                  </ul>
                </div>
              </div>
              <div class="tab-pane" id="hospital_rules">
                <div class="border border-light shadow-sm p-2">
                  <ul>
                    <li>
                      <b>Masking</b>: All staff, visitors and patients should wear mask as public health recommendations and organizational policy.
                        <ul>
                          <li>Visitors are required to wear procedural masks; personal cloth face coverings will no longer be permitted unless they are covered by a procedural mask. Hospital will provide procedural masks.</li>
                          <li>A visitor who does not wear a mask continuously and properly during a visit, will first be given a warning and will be reminded of the universal masking expectations. If, after a warning, they continue to violate the mask policy, they may be removed by security and added to a no-visit list.</li>
                          <li>If an egregious violation of hospital's masking policy occurs at any time, security may be contacted, and the visitor may be removed immediately.</li>
                        </ul>
                    </li>
                    <li>
                      <b>Symptoms</b>: Symptom screening of visitors is occurring at all clinical sites. Symptomatic visitors will not be allowed to visit.
                    </li>
                    <li>
                      <b>Hand hygiene</b>: Visitors must follow hand hygiene procedures.
                      Physical distancing: There is adequate space in patient rooms and waiting areas for appropriate
                      physical distancing.
                      <ul>
                        <li>Visitors must follow strict aerosol generating procedure (AGP) policies and leave the patient room for the defined timeline during treatments.</li>
                      </ul>
                    </li>
                    <li>
                      <b>PPE</b>: There is adequate PPE for patients, visitors and health care workers.
                        o Visitors will receive appropriate PPE and instructions, including visitors for COVID positive patients.
                    </li>
                    <li>
                      <b>Eating</b>: All will be allowed to eat meals in the patient room during a visit, but they must:
                        <ul>
                          <li>Be mindful to eat short meals</li>
                          <li>Keep the door closed</li>
                          <li>While eating, put on a mask when anyone enters the room (e.g.,  environmental services, nurse, provider)</li>
                          <li>Put a mask back on after eating</li>
                        </ul>
                    </li>
                    <li>Non-patient employees are not permitted to have visitors in any hospital’s facility.</li>
                    <li>No visitors for COVID-positive patients; with exception that children may have one parent regardless of child's COVID status.</li>
                    <li>Only one visitor will be allowed during each 24-hour period (not one visitor at a time). For pediatrics and labor and delivery, only two visitors during each 24-hour period (not several visitors cycling through).</li>
                  </ul>
                  <b>
                    <i>
                      If an egregious violation of hospital’s policies and/or safety measures occurs at any time, security may be contacted, and the visitor may be removed immediately.
                    </i>
                  </b>
                </div>
              </div>
              <div class="tab-pane" id="symptom_screening">
                <div class="border border-light shadow-sm p-2">
                  <p>
                    A visitor exhibiting or reporting three (3) or more of the following symptoms <b>will not be permitted</b>:
                  </p>
                  <ul>
                    <li>Fever or chills</li>
                    <li>Cough</li>
                    <li>Shortness of breath or difficulty breathing</li>
                    <li>Fatigue</li>
                    <li>Muscle or body aches</li>
                    <li>Headache</li>
                    <li>New loss of taste or smell</li>
                    <li>Sore throat</li>
                    <li>Congestion or runny nose</li>
                    <li>Nausea or vomiting</li>
                    <li>Diarrhea</li>
                  </ul>
                </div>
              </div>
              <div class="tab-pane" id="visitor_instructions">
                <div class="border border-light shadow-sm p-2">
                  <ul>
                    <li>You must stay in the room with the patient as much as possible. If you need to leave the room to eat or use the restroom, please only move through the facility to necessary locations and return promptly.</li>
                    <li>You must always wear a procedural mask.</li>
                    <li>You must follow proper hand hygiene, as instructed by staff.</li>
                    <li>For the safety of patients and staff, you must maintain physical distancing from others of at least 6 feet or more.</li>
                    <li>If you are directed to leave the room during a procedure, please follow staff direction.</li>
                    <li>We ask that you serve as the point of contact to update other family members/friends by telephone.</li>
                  </ul>
                  <p>
                    We encourage only one visitor per 24-hour period (12 a.m.-11:59 p.m.). We ask that you limit the number of times you leave the facility and return. 
                  </p>
                  <b>
                    <i>
                      If you do not follow these instructions, you may be asked to leave the facility.
                    </i>
                  </b>
                </div>
                <div class="border border-light shadow-sm p-2">
                  <h5>Additional Guidelines</h5>
                  <ul>
                    <li>In the hospital setting, how long you can stay is at the discretion of the healthcare team. It depends on the patient's condition, unit activity, and the need to prevent infection.</li>
                    <li>No smoking or other tobacco use is allowed within the hospital's facilities or on any hospital's campus.</li>
                    <li>Cell phone use is permitted in most areas of the hospital. Cell phones are not permitted in critical care areas such as the Intensive Care Unit (ICU), Neonatal Intensive Care Unit (NICU), and Pediatric Intensive Care Unit (PICU). If you are unsure, please ask your loved one’s nurse.</li>
                    <li>Latex balloons are not permitted, as many people experience latex allergies. However, mylar (non-latex) balloons are allowed in most units of the hospital.</li>
                    <li>Only flowers and plants from florists are allowed in the hospital. Due to infection prevention policies, flowers are not permitted in critical care areas such as the ICU, NICU, and PICU. Nonlatex balloons and cards are encouraged for patients in these areas.</li>
                    <li>Please check with the nurse before bringing gifts of food or drink.</li>
                  </ul>
                  <b>
                    <i>
                      If you have any questions about visitor guidelines, please ask a nurse. Thank you for your understanding and cooperation!
                    </i>
                  </b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{%endblock%}