
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HoMIES Receptionist | Log in</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{url_for('static', path='plugins/fontawesome-free/css/all.min.css')}}">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="{{url_for('static', path='plugins/icheck-bootstrap/icheck-bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', path='/plugins/toastr/toastr.min.css')}}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{url_for('static', path='dist/css/adminlte.min.css')}}">
</head>
<body class="hold-transition login-page bg-light">
<div class="login-box bg-white shadow border border-white">
  <div class="login-logo">
    <a href="#"><b>HoMIES</b></a>
    <div>Receptionist Module</div>
  </div>
  <!-- /.login-logo -->
  <div class="card shadow-none">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form id="loginForm">
        <div class="input-group form-group mb-3">
          <input type="email" class="form-control" required name="email" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group form-group mb-3">
          <input type="password" class="form-control" required name="password" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember" name="remember">
              <label for="remember">
                Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      </p>
    </div>
    <!-- /.login-card-body -->
    <div class="card-footer border-light border-top">
      <a href="/" class="">&#8592; Go Back</a>
    </div>
  </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="{{url_for('static', path='/plugins/jquery/jquery.min.js')}}"></script>
<!-- Bootstrap 4 -->
<script src="{{url_for('static', path='/plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<!-- Plugins -->
<script src="{{url_for('static', path='/plugins/toastr/toastr.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/jquery-validation/jquery.validate.min.js')}}"></script>
<!-- AdminLTE App -->
<script src="{{url_for('static', path='/dist/js/adminlte.min.js')}}"></script>
<!-- Custom Scripts -->
<script>
  $('#loginForm').submit(e=>e.preventDefault()).validate({
    errorElement: 'span',
    errorPlacement: function (error, element) {
      error.addClass('invalid-feedback').addClass('order-last')
      element.closest('.form-group').append(error)
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid')
    },
    unhighlight: function (element, errorCLass, validCLass) {
      $(element).removeClass('is-invalid')
    },
    submitHandler: async function(){
      let email = $('[name=email]').val()
      let password = $('[name=password]').val()
      let remember = $('[name=remember]').prop('checked')
      $.ajax({
        type: "POST",
        url: "/auth/receptionist/verify",
        data: JSON.stringify({
          email ,
          password,
          remember
        }),
        dataType: "json",
        contentType: "application/json",
        success: function (response) {
          if(!response.error){
            window.location.reload()
          }else{
            toastr.error(response.message)
          }
        }
      });
    }
  })
  
</script>
</body>
</html>
