<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>HoMIES | Hospital Management System</title>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{url_for('static',path='/plugins/fontawesome-free/css/all.min.css')}}" />

  <!-- Plugins -->
  <link rel="stylesheet" href="{{url_for('static', path='plugins/icheck-bootstrap/icheck-bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', path='/plugins/toastr/toastr.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',path='/plugins/overlayScrollbars/css/OverlayScrollbars.min.css')}}" />

  <!-- Theme style -->
  <link rel="stylesheet" href="{{url_for('static',path='/dist/css/adminlte.min.css')}}" />

  <style>
    #image {
      background-image: url('/static/img/landing.jpg');
      background-size: contain;
    }
  </style>
</head>

<body class="hold-transition sidebar-collapse">
  <!-- Site wrapper -->
  <div class="wrapper">
    <!-- Preloader -->
    <!-- <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="../../dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div> -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Main content -->
      <div id="image">
        <section class="content">
          <div class="container-fluid">
            <div class="row" style="height: 100vh">
              <div class="col-lg-4 col-md-12 offset-lg-8 bg-white">
                <div class="container px-5">
                  <div class="
												row
												flex-column
												justify-content-center
												align-items-center
											" style="height: 100vh">
                    <center>
                      <h2 class="my-5">
                        HoMIES <br />
                        <small>Visitor Portal</small>
                      </h2>
                    </center>
                    <section>
                      <p class="login-box-msg">Sign In to your account</p>
                      <form id="loginForm">
                        <div class="input-group form-group mb-3">
                          <input type="email" class="form-control" required name="email" placeholder="Email">
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="fas fa-envelope"></span>
                            </div>
                          </div>
                        </div>
                        <div class="input-group form-group mb-3">
                          <input type="password" class="form-control" required name="password" placeholder="Password">
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="fas fa-lock"></span>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-8">
                            <div class="icheck-primary">
                              <input type="checkbox" id="remember" name="remember">
                              <label for="remember">
                                Remember Me
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                      </form>
                      <p class="mt-3">Doesn't have an account? <a href="/visitor/register">Register here</a></p>
                      <hr>
                      <center class="mt-3">
                        <a href="/receptionist" class="text-center">Log In as Receptionist</a>
                      </center>
                  </div>
        </section>
      </div>
    </div>
  </div>
  </div>
  </div>
  </section>
  </div>
  <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  </div>
  <!-- ./wrapper -->


  <!-- jQuery -->
  <script src="{{url_for('static', path='/plugins/jquery/jquery.min.js')}}"></script>
  <!-- Bootstrap 4 -->
  <script src="{{url_for('static', path='/plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <!-- Plugins -->
  <script src="{{url_for('static', path='/plugins/toastr/toastr.min.js')}}"></script>
  <script src="{{url_for('static', path='/plugins/jquery-validation/jquery.validate.min.js')}}"></script>
  <!-- AdminLTE App -->
  <script src="{{url_for('static', path='/dist/js/adminlte.min.js')}}"></script>
  <script>
    $('#loginForm').submit(e => e.preventDefault()).validate({
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback').addClass('order-last')
        element.closest('.form-group').append(error)
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid')
      },
      unhighlight: function (element, errorCLass, validCLass) {
        $(element).removeClass('is-invalid')
      },
      submitHandler: async function () {
        let email = $('[name=email]').val()
        let password = $('[name=password]').val()
        let remember = $('[name=remember]').prop('checked')
        $.ajax({
          type: "POST",
          url: "/auth/visitor/verify",
          data: JSON.stringify({
            email,
            password,
            remember
          }),
          dataType: "json",
          contentType: "application/json",
          success: function (response) {
            if (!response.error) {
              window.location.reload()
            } else {
              toastr.error(response.message)
            }
          }
        });
      }
    })

  </script>

</body>

</html>