<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>HoMIES | Hospital Management System</title>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{url_for('static',path='/plugins/fontawesome-free/css/all.min.css')}}" />
 <!-- Plugins -->
 <link rel="stylesheet" href="{{url_for('static', path='plugins/icheck-bootstrap/icheck-bootstrap.min.css')}}">
 <link rel="stylesheet" href="{{url_for('static', path='/plugins/toastr/toastr.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',path='/plugins/overlayScrollbars/css/OverlayScrollbars.min.css')}}" />
  <!-- Theme style -->
  <link rel="stylesheet" href="{{url_for('static',path='/dist/css/adminlte.min.css')}}" />

  <style>
    #image {
      background-image: url('/static/img/landing.jpg');
      background-size: contain;
    }
  </style>
</head>

<body class="hold-transition sidebar-collapse">
  <!-- Site wrapper -->
  <div class="wrapper">
    <!-- Preloader -->
    <!-- <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="../../dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div> -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Main content -->
      <div id="image">
        <section class="content">
          <div class="container-fluid">
            <div class="row" style="height: 100vh">
              <div class="col-lg-4 col-md-12 offset-lg-8 bg-white">
                <div class="container px-5">
                  <div class="
												row
												flex-column
												justify-content-center
												align-items-center
											" style="height: 100vh">
                    <center>
                      <h2 class="my-5">
                        HoMIES <br />
                        <small>Visitor Portal</small>
                      </h2>
                    </center>
                    <section>
                      <p class="login-box-msg">Register a new account</p>

                      <form id="register_form" method="post">
                        <div class="input-group form-group mb-3">
                          <input required type="email" name="email" class="form-control" placeholder="Email">
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="fas fa-envelope"></span>
                            </div>
                          </div>
                        </div>
                        <div class="input-group form-group mb-3">
                          <input required type="password" name="password" class="form-control" placeholder="Password">
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="fas fa-lock"></span>
                            </div>
                          </div>
                        </div>
                        <div class="input-group form-group mb-3">
                          <input required type="password" name="confirm_password" class="form-control"
                            placeholder="Retype password">
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="fas fa-lock"></span>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="icheck-primary">
                              <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                              <label for="agreeTerms">
                                I agree to the <a href="#">terms</a>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <button type="submit" class="btn btn-primary btn-block">Register</button>
                        </div>
                      </form>
                      <p class="mt-3">Already have an account? <a href="/visitor">Login here</a></p>
                  </div>
        </section>
      </div>
    </div>
  </div>
  </div>
  </div>
  </section>
  </div>
  <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  </div>
  <!-- ./wrapper -->


  <!-- jQuery -->
  <script src="{{url_for('static', path='/plugins/jquery/jquery.min.js')}}"></script>
  <!-- Bootstrap 4 -->
  <script src="{{url_for('static', path='/plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', path='/plugins/toastr/toastr.min.js')}}"></script>
  <script src="{{url_for('static', path='/plugins/jquery-validation/jquery.validate.min.js')}}"></script>

  <!-- AdminLTE App -->
  <script src="{{url_for('static', path='/dist/js/adminlte.min.js')}}"></script>

  <script>
    $('#register_form').submit(e => e.preventDefault()).validate({
      rules: {
        confirm_password: {
          equalTo: '[name=password]'
        }
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      },
      submitHandler: function () {
        let accept = $('[name=terms]').prop('checked')
        if (!accept)
          toastr.error('Please read and accept the terms.')
        else {

          let email = $('[name=email]').val()
          let password = $('[name=password]').val()

          let data = JSON.stringify({ email, password })

          $.ajax({
            type: "POST",
            url: "/auth/visitor/register",
            data: data,
            contentType: 'application/json',
            dataType: "json",
            success: function (response) {
              if (!response.error) {
                window.location.reload()
              } else {
                toastr.error(response.message)
              }
            }
          });
        }
      }
    })
  </script>
</body>

</html>