{%extends 'layouts/visitor_dashboard.html'%}


{%block content%}
<div class="row">
	<div class="col-lg-6 col-md-10 ml-auto mr-auto">
		<div class="card card-primary card-outline">
			<div class="card-header row">
				<div class="card-title">
					<h4>Request Details</h4>
				</div>
				<div class="ml-auto">
					<label>Status:</label>
					<span id="status">{{data.status}}</span>
				</div>
			</div>
			<div class="card-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col">
							<div class="container">
								<div class="row">
									<div class="col">
										<label>Name:</label>
										<span>{{data.full_name}}</span>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<label>Email:</label>
										<span>{{data.email}}</span>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<label>Contact Number:</label>
										<span>{{data.contact_number}}</span>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<label>Address:</label>
										<span>{{data.address}}</span>
									</div>
								</div>
								<hr />
								<div class="row">
									<div class="col">
										<div class="row">
											<div class="col">
												<label>Destination:</label>
												<span>{{data.station.name}}</span>
											</div>
											<div class="col">
												<label>Schedule:</label>
												<span id="schedule"></span>
											</div>
										</div>
										<div class="row">
											<div class="col">
												<label>Patient Name:</label>
												{%if data.patient_name != none%}
												<span>{{data.patient_name}}</span>
												{%else%}
												<span>None</span>
												{%endif%}
											</div>
										</div>
										<div class="row">
											<div class="col">
												<label>Purpose:</label>
												<span>{{data.purpose}}</span>
											</div>
										</div>
									</div>
								</div>
								<hr />
								{%if data.remarks%}
								<div class="row">
									<div class="col">
										<label>Remarks:</label>
										<span>{{data.remarks}}</span>
									</div>
								</div>
								{%endif%}
							</div>
						</div>
					</div>
				</div>
			</div>
			{%if data.status == 'Pending'%}
			<div class="card-footer d-flex justify-content-end" id="cancel_footer">
				<div class="btn btn-danger" data-toggle="modal" data-target="#cancel_modal">
					Cancel Request
				</div>
			</div>
			{%endif%}
		</div>
	</div>
</div>
{%endblock%}

{%block modal%}
<div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" id="cancel_modal">
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Cancel Appointment</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input type="hidden" name="appointment" value="{{data.id}}" />
				<p>Are you sure?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
				<button type="button" id="cancel_appointment" class="btn btn-danger">
					Yes
				</button>
			</div>
		</div>
	</div>
</div>
{%endblock%}

{%block plugin_css%}
<link rel="stylesheet" href="{{url_for('static', path='/plugins/toastr/toastr.min.css')}}" />
{%endblock%}

{%block plugin_js%}
<script src="{{url_for('static', path='/plugins/toastr/toastr.min.js')}}"></script>
{%endblock%}

{%block scripts%}
<script>
	$('#schedule').text(
		new Date('{{data.schedule}}').toLocaleDateString('default', {
			month: 'long',
			day: 'numeric',
			year: 'numeric',
		})
	)
</script>

{%if data.status == 'Pending'%}
<script>
	$('#cancel_appointment').on('click', function () {
		$.ajax({
			type: 'DELETE',
			url: '/appointments/cancel/' + $('[name=appointment]').val(),
			dataType: 'json',
			xhrFields: {
				withCredentials: true,
			},
			success: function (response) {
				if (!response.error) {
					toastr.info(response.message)
					$('#status').text('Cancelled')
					$('#cancel_footer').remove()
				} else {
					toastr.error(response.message)
				}
				$('#cancel_modal').modal('hide')
			},
		})
	})
</script>
{%endif%}

{%endblock%}