{%extends 'layouts/visitor_dashboard.html'%}

{%block styles%}
<style>
    .dt-center {
        text-align: center;
    }

    .is_error {
        border-color: #ef4444 !important;
        box-shadow: 0 0 0 0 rgba(239, 68, 68, 0.25) !important;
        padding-right: calc(0.75em + 2.3125rem);
        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23EF4444' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23EF4444' stroke='none'/%3e%3c/svg%3e") center right 1.75rem / calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) no-repeat;
    }
</style>
{%endblock%}

{%block content%}
{%if profile == None%}
<div class="callout callout-warning">
    <h5>
        <i class="fas fa-exclamation-triangle"></i> You still don't have a profile!
    </h5>
    <p>
        You need to have a profile first before you can apply for appointments.
        <a href="/visitor/profile">Create now.</a>
    </p>
</div>

{%elif profile.user.is_blacklist == True and profile.user.blacklist|length and
profile.user.blacklist[0].is_seen == False%}
<div class="callout callout-danger" id="blacklist_notice">
    <h5>
        <i class="fas fa-exclamation-triangle"></i> You are <b>BLACKLISTED!</b>
    </h5>
    <p>
        You have been blacklisted
        <b>on {{profile.user.blacklist[0].created_at.strftime('%B %d, %Y at %I:%M
            %p')}}</b>. Our record says:
    </p>
    <blockquote class="quote-secondary">
        {{profile.user.blacklist[0].remarks}}
    </blockquote>
    <div class="row">
        <div id="view_blacklist" class="btn btn-primary ml-auto">Got it</div>
    </div>
</div>
{%endif%}

<div class="alert alert-info">
    <h5>
        <i class="fas fa-info"></i>
        Reminders
    </h5>
    <ul>
        <li>
            Visit Passes are downloadable/printable
            <b>only on the date of the appointment</b>.
        </li>
        <li>
            Health Declaration is necessary
            <b>before getting access to the Visit Pass</b>.
        </li>
        <li>
            Rejected appointments have feedbacks on why they were rejected.
            <b>Please read them</b>, if necessary.
        </li>
    </ul>
</div>

<div class="card card-outline card-primary">
    <div class="card-header d-flex">
        <div class="ml-auto">
            {%if profile != None and profile.user.is_blacklist == False%}
            <div class="btn btn-primary" id="request_button" data-toggle="modal" data-target="#appointment_modal">
                Request Appointment
            </div>
            {%else%}
            <div class="btn btn-primary disabled" data-placement="left" data-toggle="tooltip"
                title="{{'You are currently on blacklist' if profile != None else 'Please create a profile first'}}">
                Request Appointment
            </div>
            {%endif%}
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover" width="100%" id="appointment_table">
            <thead>
                <tr>
                    <th>Destination</th>
                    <th>Schedule</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
{%endblock%}

{%block modal%}
{%if profile != None and profile.user.is_blacklist == False%}
<div class="modal fade" data-backdrop="static" tabindex="-1" id="appointment_modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="appointment_form">
                <div class="modal-header">
                    <h5 class="modal-title">Appointment Request Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Destination <span class="text-danger">&#42;</span></label>
                        <select required name="station_id" id="station_id">
                            <option selected value=""></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Patient Name</label>
                        <input type="text" class="form-control" name="patient_name" required />
                    </div>
                    <div class="form-group">
                        <label>Date <span class="text-danger">&#42;</span></label>
                        <input required type="date" name="schedule" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Purpose <span class="text-danger">&#42;</span></label>
                        <textarea required name="purpose" rows="3" class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" data-backdrop="static" tabindex="-1" id="health_modal">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <form id="health_form">
                <div class="modal-header">
                    <h5 class="modal-title">Health Declaration Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="appointment_id" />
                    <div class="form-group clearfix">
                        <b>Do you experience the following?</b>
                        <div class="icheck-primary">
                            <input type="checkbox" value="Fever" name="symptoms" id="fever" />
                            <label for="fever"> Fever </label>
                        </div>
                        <div class="icheck-primary">
                            <input type="checkbox" value="Dry Cough" name="symptoms" id="dry_cough" />
                            <label for="dry_cough"> Dry Cough </label>
                        </div>
                        <div class="icheck-primary">
                            <input type="checkbox" value="Fatigue" name="symptoms" id="fatigue" />
                            <label for="fatigue"> Fatigue </label>
                        </div>
                        <div class="icheck-primary">
                            <input type="checkbox" value="Aches and Pains" name="symptoms" id="aches_pains" />
                            <label for="aches_pains"> Aches and Pains </label>
                        </div>
                        <div class="icheck-primary">
                            <input type="checkbox" value="Runny Nose" name="symptoms" id="runny_nose" />
                            <label for="runny_nose"> Runny Nose </label>
                        </div>
                        <div class="icheck-primary">
                            <input type="checkbox" value="Sore Throat" name="symptoms" id="sore_throat" />
                            <label for="sore_throat"> Sore Throat </label>
                        </div>
                        <div class="icheck-primary">
                            <input type="checkbox" value="Shortness of Breath" name="symptoms" id="shortness_breath" />
                            <label for="shortness_breath"> Shortness of Breath </label>
                        </div>
                        <div class="icheck-primary">
                            <input type="checkbox" value="Diarrhea" name="symptoms" id="diarrhea" />
                            <label for="diarrhea"> Diarrhea </label>
                        </div>
                        <div class="icheck-primary">
                            <input type="checkbox" value="Headache" name="symptoms" id="headache" />
                            <label for="headache"> Headache </label>
                        </div>
                        <div class="icheck-primary">
                            <input type="checkbox" value="Loss of Smell and Tase" name="symptoms"
                                id="loss_smell_taste" />
                            <label for="loss_smell_taste"> Loss of smell and taste </label>
                        </div>
                        <div class="icheck-primary">
                            <input type="checkbox" id="none" name="symptoms" value="None" />
                            <label for="none"> None </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" id="detail_modal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header d-flex justify-between">
                <h5 class="modal-title">Appointment Details (<b id="appointment_status"></b>)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body py-0">
                <div class="d-flex flex-column justify-content-center align-items-center" style="height: 100px;" id="detail_spinner">
                    <div class="spinner-border align-middle"></div>
                    <div>Fetching Details</div>
                </div>
                <table class="table table-borderless d-none" id="details_table">
                    <tbody>
                        <tr>
                            <td>Schedule</td>
                            <td id="appointment_schedule"></td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td id="appointment_full_name"></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td id="appointment_email"></td>
                        </tr>
                        <tr>
                            <td>Contact Number</td>
                            <td id="appointment_contact_number"></td>
                        </tr>
                        <tr class="border-bottom">
                            <td>Address</td>
                            <td id="appointment_address"></td>
                        </tr>
                        <tr>
                            <td>Destination</td>
                            <td id="appointment_station"></td>
                        </tr>
                        <tr>
                            <td>Patient Name</td>
                            <td id="appointment_patient"></td>
                        </tr>
                        <tr class="border-bottom">
                            <td>Purpose</td>
                            <td id="appointment_purpose"></td>
                        </tr>
                        <tr>
                            <td>Remarks</td>
                            <td id="appointment_remarks"><i>None</i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer" id="appointment_modal_footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" id="cancel_modal">
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Cancel Appointment</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input type="hidden" name="appointment" value="" id="cancel_id" />
				<p>Are you sure?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
				<button type="button" id="cancel_appointment" class="btn btn-danger">
					Yes
				</button>
			</div>
		</div>
	</div>
</div>
{%endif%}

{%endblock%}

{%block plugin_css%}
<link rel="stylesheet" href="{{url_for('static', path='/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}" />
<link rel="stylesheet"
    href="{{url_for('static', path='/plugins/datatables-responsive/css/responsive.bootstrap4.min.css')}}" />
<link rel="stylesheet" href="{{url_for('static', path='/plugins/select2/css/select2.min.css')}}" />
<link rel="stylesheet"
    href="{{url_for('static', path='/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css')}}" />
<link rel="stylesheet" href="{{url_for('static', path='/plugins/toastr/toastr.min.css')}}" />
<link rel="stylesheet" href="{{url_for('static', path='/plugins/icheck-bootstrap/icheck-bootstrap.min.css')}}" />
{%endblock%}

{%block plugin_js%}
<script src="{{url_for('static', path='/plugins/moment/moment.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-scroller/js/dataTables.scroller.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-responsive/js/dataTables.responsive.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-responsive/js/responsive.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/toastr/toastr.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/select2/js/select2.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/jquery-validation/jquery.validate.min.js')}}"></script>
{%endblock%}

{%block scripts%}
<script>

    // TODO: APPLY APPOINTMENT MODAL
    let appointment_table = $('#appointment_table').DataTable({
        serverSide: true,
        responsive: true,
        processing: true,
        ajax: '/appointments/visitor/datatable',
        order: [[0, 'desc']],
        columns: [
            { data: 'destination' },
            {
                data: 'schedule',
                render: {
                    display: function (data) {
                        return moment(data).format('MMMM DD, YYYY')
                    },
                    sort: function (data) {
                        return new Date(data).toLocaleDateString()
                    },
                },
            },
            {
                data: 'status',
                render: function (data) {
                    return `
                        <span class="w-100 p-2 badge ${data == 'Approved'
                            ? 'badge-success'
                            : data == 'Rejected'
                                ? 'badge-danger'
                                : 'badge-secondary'
                        }">${data}</span></h1>
                    `
                },
            },
            {
                data: 'id',
                render: function (data, type, row) {
                    if (row.status == 'Approved') {
                        if (
                            new Date(row.schedule).toLocaleDateString() ==
                            new Date().toLocaleDateString() &&
                            row.file == null
                        ) {
                            return `
                            <div class="text-center dropdown">
                                <a class="btn btn-sm btn-default" data-toggle="dropdown" role="button">
                                    <i class="fas fa-ellipsis-v"></i>
                                </a>
                                
                                <div class="dropdown-menu dropdown-menu-right">

                                    <a href="#" data-toggle="modal" data-target="#detail_modal" data-id="${data}" class="dropdown-item d-flex view_appointment">
                                        <div style="width: 2rem">
                                            <i class="fas fa-eye"></i>
                                        </div>
                                        <div>View Details</div>
                                    </a>
    
                                    <div data-item="${row.id}" class="dropdown-item d-flex health_form">
                                        <div style="width: 2rem">
                                            <i class="fas fa-notes-medical"></i>
                                        </div>
                                        <div>Health Declaration</div>
                                    </div>
    
                                </div>
                            </div>
                            `
                        } else if (
                            row.file != null &&
                            new Date(row.schedule).toLocaleDateString() ==
                            new Date().toLocaleDateString()
                        ) {
                            return `
                                <div class="text-center dropdown">
                                    <a class="btn btn-sm btn-default" data-toggle="dropdown" role="button">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    
                                    <div class="dropdown-menu dropdown-menu-right">

                                        <a href="#" data-toggle="modal" data-target="#detail_modal" data-id="${data}" class="dropdown-item d-flex view_appointment">
                                            <div style="width: 2rem">
                                                <i class="fas fa-eye"></i>
                                            </div>
                                            <div>View Details</div>
                                        </a>

                                        <a href="${row.file}" download class="dropdown-item d-flex">
                                            <div style="width: 2rem">
                                                <i class="fas fa-download"></i>
                                            </div>
                                            <div>Download Pass</div>
                                        </a>

                                    </div>
                                </div>
                            `
                        } else {
                            return `
                                <div class="text-center dropdown">
                                    <a class="btn btn-sm btn-default" data-toggle="dropdown" role="button">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    
                                    <div class="dropdown-menu dropdown-menu-right">

                                        <a href="#" data-toggle="modal" data-target="#detail_modal" data-id="${row.id}" class="dropdown-item d-flex view_appointment">
                                            <div style="width: 2rem">
                                                <i class="fas fa-eye"></i>
                                            </div>
                                            <div>View</div>
                                        </a>

                                    </div>
                                </div>
                            `
                        }
                    } else {
                        return `
                        <div class="text-center dropdown">
                            <a class="btn btn-sm btn-default" data-toggle="dropdown" role="button">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>
                            
                            <div class="dropdown-menu dropdown-menu-right">

                                <a href="#" data-toggle="modal" data-target="#detail_modal" data-id="${row.id}" class="dropdown-item d-flex view_appointment">
                                    <div style="width: 2rem">
                                        <i class="fas fa-eye"></i>
                                    </div>
                                    <div>View</div>
                                </a>

                            </div>
                        </div>
                        `
                    }
                },
            },
        ],
    })

    $('#appointment_table').on('click', 'tr', function (e) {
        if (
            $(e.target).parent().hasClass('health_form') ||
            $(e.target).hasClass('health_form')
        ) {
            $('[name=appointment_id]').val(
                $(e.target).parent().data('item') || $(e.target).data('item')
            )
            $('#health_modal').modal('show')
        } else if (
            $(e.target).hasClass('view_appointment') ||
            $(e.target).parent().hasClass('view_appointment')
        ) {
            let id = $(e.target).data('id') || $(e.target).parent().data('id')
            $.ajax({
                type: "GET",
                url: "/appointments/" + id,
                xhr: function(){
                    let xhr = new XMLHttpRequest()

                    xhr.addEventListener('progress', ()=>{
                        $('#details_table').addClass('d-none')
                        $('#detail_spinner').removeClass('d-none').addClass('d-flex')
                    })
                    return xhr
                },
                contentType: 'application/json',
                success: function (response) {
                    if (!response.error) {
                        let data = response.data
                        $('#appointment_full_name').text(data.full_name)
                        $('#appointment_status').text(data.status)
                        $('#appointment_email').text(data.email)
                        $('#appointment_contact_number').text(data.contact_number)
                        $('#appointment_address').text(data.address)
                        $('#appointment_station').text(data.station.name)
                        $('#appointment_patient').text(data.patient_name)
                        $('#appointment_purpose').text(data.purpose)
                        $('#appointment_schedule').text(moment(data.schedule).format('MMMM DD, YYYY'))
                        data.remarks && $('#appointment_remarks').text(data.remarks)
                        if (data.status == 'Pending'){
                            $('#appointment_modal_footer').prepend(`<div class="btn btn-danger" data-toggle="modal" data-target="#cancel_modal">
                    Cancel Request
                </div>`)
                            $('#cancel_id').val(data.id)
                        }

                        $('#details_table').removeClass('d-none')
                        $('#detail_spinner').addClass('d-none').removeClass('d-flex')

                    }
                }
            })
        }
    })

    $('[name=station_id]').select2({
        placeholder: { id: '', text: 'Select Destination' },
    })
    $('[name=schedule]').attr('min', moment().add(2, 'd').format('YYYY-MM-DD'))

    $.ajax({
        type: 'GET',
        url: '/stations/all',
        dataType: 'json',
        success: function (response) {
            response.data.forEach((el) => {
                let builder = `
                    <option value="${el.id}">${el.name}</option>
                `
                $('[name=station_id]').append(builder)
            })
        },
    })

    let appointment_form = $('#appointment_form')
        .submit((e) => e.preventDefault())
        .validate({
            messages: {
                schedule: {
                    min: 'Please put a date at least 2 days from now.',
                },
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback')
                element.closest('.form-group').append(error)
            },
            highlight: function (element, errorClass, validClass) {
                var elem = $(element)
                if (elem.hasClass('select2-hidden-accessible')) {
                    elem
                        .siblings('span.select2-container')
                        .children('.selection')
                        .children('.select2-selection')
                        .addClass('is_error')
                }
                $(element).addClass('is-invalid')
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid')
            },
            submitHandler: function () {
                let station_id = $('[name=station_id]').val()
                let schedule = $('[name=schedule]').val()
                let purpose = $('[name=purpose]').val()
                let patient_name = $('[name=patient_name]').val().length
                    ? $('[name=patient_name]').val()
                    : null

                let data = JSON.stringify({
                    station_id,
                    schedule,
                    purpose,
                    patient_name,
                })

                $.ajax({
                    type: 'POST',
                    url: '/appointments/online',
                    data: data,
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (response) {
                        if (!response.error) {
                            toastr.success(response.message)
                            $('#appointment_modal').modal('hide')
                            appointment_table.draw()
                        } else {
                            toastr.error(response.message)
                        }
                    },
                })
            },
        })

    $('#health_form').on('submit', function (e) {
        e.preventDefault()

        let appointment_id = $('[name=appointment_id]').val()
        let symptoms = []

        if ($('#none').prop('checked') == false) {
            $.each($('[name=symptoms]:checked'), function (i, el) {
                symptoms.unshift($(el).val())
            })
        }

        let data = JSON.stringify({
            appointment_id,
            symptoms: symptoms.length ? symptoms.join(';') : null,
            condition:
                symptoms.length == 0 ? 'Good' : symptoms.length > 2 ? 'Severe' : 'Mild',
        })

        $.ajax({
            type: 'POST',
            url: '/health_form/store',
            data: data,
            dataType: 'json',
            contentType: 'application/json',
            success: function (response) {
                if (!response.error) {
                    toastr.success(response.message)
                    $('#health_modal').modal('hide')
                    appointment_table.draw()
                } else {
                    toastr.error(response.message)
                    $('#health_modal').modal('hide')
                    appointment_table.draw()
                }
            },
        })
    })

    $('#appointment_modal').on('hide.bs.modal', function () {
        appointment_form.resetForm()
        $('#appointment_form').get(0).reset()
        $('.select2-selection').removeClass('is_error')
    })

    $('#health_modal').on('hide.bs.modal', function () {
        $('#health_form').get(0).reset()
    })

    $('[name=symptoms]').on('click', function (e) {
        if ($(e.target).val() == 'None') {
            $('[name=symptoms]:not(#none)').prop('checked', false)
        } else {
            $('#none').prop('checked', false)
        }
    })

    $('#cancel_appointment').on('click', function () {
		$.ajax({
			type: 'DELETE',
			url: '/appointments/cancel/' + $('[name=appointment]').val(),
			dataType: 'json',
			xhrFields: {
				withCredentials: true,
			},
			success: function (response) {
				if (!response.error) {
					toastr.info(response.message)
					$('#status').text('Cancelled')
					$('#cancel_footer').remove()

					$('#detail_modal').modal('hide')
                    appointment_table.draw()
				} else {
					toastr.error(response.message)
				}
				$('#cancel_modal').modal('hide')
			},
		})
	})

    $('[data-toggle=tooltip]').tooltip()

    $('#detail_modal').on('hide.bs.modal', function () {
        $('#appointment_full_name').text('')
        $('#appointment_status').text('')
        $('#appointment_email').text('')
        $('#appointment_contact_number').text('')
        $('#appointment_address').text('')
        $('#appointment_station').text('')
        $('#appointment_patient').text('')
        $('#appointment_purpose').text('')
        $('#appointment_schedule').text('')
        $('#appointment_remarks').html('<i>None</i>')
        $('#reject_request, #accept_request').off('click').remove()
        setTimeout(()=>{
            $('#appointment_modal_footer').find('.btn-danger').remove()
            $('#details_table').addClass('d-none')
            $('#detail_spinner').removeClass('d-none').addClass('d-flex')    
        }, 1000)
        
    })

</script>
{%if profile != None%}
{%if profile.user.is_blacklist == True and
profile.user.blacklist|length and profile.user.blacklist[0].is_seen == False%}
<script>
    $('#view_blacklist').on('click', function () {
        $.ajax({
            type: 'PUT',
            url: '/blacklist/seen/{{profile.user.blacklist[0].id}}',
            dataType: 'json',
            success: function (response) {
                if (!response.error) {
                    $('#blacklist_notice').remove()
                }
            },
        })
    })
</script>
{%endif%}
{%endif%}
{%endblock%}