{%extends 'layouts/visitor_dashboard.html'%}

{%block styles%}
<style>
    .dt-center {
        text-align: center;
    }
</style>
{%endblock%}

{%block content%}
{%if profile == None%}
<div class="callout callout-warning">
    <h5>
        <i class="fas fa-exclamation-triangle"></i> You still don't have a profile!
    </h5>
    <p>
        You need to have a profile first before you can apply for appointments.
        <a href="/visitor/profile">Create now.</a>
    </p>
</div>
{%endif%}

<div class="card card-outline card-primary">
    <div class="card-header">
        <h4>Appointments List</h4>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover" width="100%" id="history_table">
            <thead>
                <tr>
                    <th>Destination</th>
                    <th>Schedule</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
{%endblock%}

{%block modal%}
<!-- TODO: add visit details -->
<div class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" id="appointment_modal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header d-flex justify-between">
                <h5 class="modal-title">Appointment Details (<b id="appointment_status"></b>)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body py-0">
                <div class="d-flex flex-column justify-content-center align-items-center" style="height: 100px;" id="detail_spinner">
                    <div class="spinner-border align-middle"></div>
                    <div>Fetching Details</div>
                </div>
                <div class="justify-content-equal d-none" id="details_table">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td>Schedule</td>
                                <td id="appointment_schedule"></td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td id="appointment_full_name"></td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td id="appointment_email"></td>
                            </tr>
                            <tr>
                                <td>Contact Number</td>
                                <td id="appointment_contact_number"></td>
                            </tr>
                            <tr class="border-bottom">
                                <td>Address</td>
                                <td id="appointment_address"></td>
                            </tr>
                            <tr>
                                <td>Destination</td>
                                <td id="appointment_station"></td>
                            </tr>
                            <tr>
                                <td>Patient Name</td>
                                <td id="appointment_patient"></td>
                            </tr>
                            <tr class="border-bottom">
                                <td>Purpose</td>
                                <td id="appointment_purpose"></td>
                            </tr>
                            <tr>
                                <td>Remarks</td>
                                <td id="appointment_remarks"><i>None</i></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-borderless border-left" id="visit_table">
                        <tr>
                            <td>Check In</td>
                            <td id="visit_checkin"></td>
                        </tr>
                        <tr>
                            <td>Check Out</td>
                            <td id="visit_checkout"></td>
                        </tr>
                        <tr>
                            <td>Condition</td>
                            <td id="visit_condition"></td>
                        </tr>
                        <tr>
                            <td>Symptoms</td>
                            <td id="visit_symptoms"></td>
                        </tr>
                        <tr>
                            <td>Remarks</td>
                            <td id="visit_remarks"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer" id="appointment_modal_footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
{%endblock%}

{%block plugin_css%}
<link rel="stylesheet" href="{{url_for('static', path='/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}" />
<link rel="stylesheet"
    href="{{url_for('static', path='/plugins/datatables-responsive/css/responsive.bootstrap4.min.css')}}" />
<link rel="stylesheet" href="{{url_for('static', path='/plugins/select2/css/select2.min.css')}}" />
<link rel="stylesheet"
    href="{{url_for('static', path='/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css')}}" />
<link rel="stylesheet" href="{{url_for('static', path='/plugins/toastr/toastr.min.css')}}" />
<link rel="stylesheet" href="{{url_for('static', path='/plugins/icheck-bootstrap/icheck-bootstrap.min.css')}}" />
{%endblock%}

{%block plugin_js%}
<script src="{{url_for('static', path='/plugins/moment/moment.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-scroller/js/dataTables.scroller.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-responsive/js/dataTables.responsive.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-responsive/js/responsive.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/toastr/toastr.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/jquery-validation/jquery.validate.min.js')}}"></script>
{%endblock%}

{%block scripts%}
<script>
    // TODO: APPLY APPOINTMENT MODAL
    let history_table = $('#history_table').DataTable({
        serverSide: true,
        responsive: true,
        processing: true,
        ajax: '/appointments/visitor/history/datatable',
        order: [[1, 'desc']],
        columns: [
            { data: 'destination' },
            {
                data: 'schedule',
                render: {
                    display: function (data) {
                        return moment(data).format('MMMM DD, YYYY')
                    },
                    sort: function (data) {
                        return new Date(data).toLocaleDateString()
                    },
                },
            },
            {
                data: 'status',
                render: function (data) {
                    return `
                        <span class="w-100 p-2 badge ${data == 'Approved'
                            ? 'badge-success'
                            : data == 'Rejected'
                                ? 'badge-danger'
                                : 'badge-secondary'
                        }">${data}</span></h1>
                    `
                },
            },
            {
                data: 'id',
                render: (data) => `
                    <div class="text-center dropdown">
                        <a class="btn btn-sm btn-default" data-toggle="dropdown" role="button">
                            <i class="fas fa-ellipsis-v"></i>
                        </a>
                        
                        <div class="dropdown-menu dropdown-menu-right">

                            <a href="#" data-toggle="modal" data-target="#appointment_modal" data-id="${data}" class="dropdown-item d-flex view_appointment">
                                <div style="width: 2rem">
                                    <i class="fas fa-eye"></i>
                                </div>
                                <div>View</div>
                            </a>

                        </div>
                    </div>
                `,
            },
        ],
    })

    $('#history_table').on('click', 'tr', function(e){
        if(
            $(e.target).hasClass('view_appointment') ||
            $(e.target).parent().hasClass('view_appointment')
        ){
            let id = $(e.target).data('id') || $(e.target).parent().data('id')
            $.ajax({
                type: "GET",
                url: "/appointments/" + id,xhr: function(){
                    let xhr = new XMLHttpRequest()

                    xhr.addEventListener('progress', ()=>{
                        $('#details_table').addClass('d-none').removeClass('d-flex')
                        $('#detail_spinner').removeClass('d-none').addClass('d-flex')
                    })
                    return xhr
                },
                contentType: 'application/json',
                success: function (response) {
                    if (!response.error) {
                        let data = response.data
                        $('#appointment_full_name').text(data.full_name)
                        $('#appointment_status').text(data.status)
                        $('#appointment_email').text(data.email)
                        $('#appointment_contact_number').text(data.contact_number)
                        $('#appointment_address').text(data.address)
                        $('#appointment_station').text(data.station.name)
                        $('#appointment_patient').text(data.patient_name)
                        $('#appointment_purpose').text(data.purpose)
                        $('#appointment_schedule').text(moment(data.schedule).format('MMMM DD, YYYY'))
                        data.remarks && $('#appointment_remarks').text(data.remarks)

                        if  (data.visit){
                            $('#visit_checkin').text(moment(data.visit.check_in).format('MMMM DD, YYYY, hh:mm A'))
                            $('#visit_checkout').text(moment(data.visit.check_out).format('MMMM DD, YYYY, hh:mm A') || 'Data Not Available')
                            $('#visit_condition').text(data.health_form.condition)
                            $('#visit_symptoms').text(data.health_form.symptoms || 'None')
                            $('#visit_remarks').text(data.visit.remarks || 'None')
                        }else{
                            $('#visit_checkin').text('Data Not Available')
                            $('#visit_checkout').text('Data Not Available')
                            $('#visit_condition').text('Data Not Available')
                            $('#visit_symptom').text('Data Not Available')
                            $('#visit_remarks').html('Data Not Available')
                        }
                        $('#details_table').removeClass('d-none').addClass('d-flex')
                        $('#detail_spinner').addClass('d-none').removeClass('d-flex')
                    }
                }
            })
        }
    })

    $('#appointment_modal').on('hide.bs.modal', function () {
        $('#appointment_full_name').text('')
        $('#appointment_status').text('')
        $('#appointment_email').text('')
        $('#appointment_contact_number').text('')
        $('#appointment_address').text('')
        $('#appointment_station').text('')
        $('#appointment_patient').text('')
        $('#appointment_purpose').text('')
        $('#appointment_schedule').text('')
        $('#appointment_remarks').html('<i>None</i>')
        $('#reject_request, #accept_request').off('click').remove()

        $('#visit_checkin').text('')
        $('#visit_checkout').text('')
        $('#visit_condition').text('')
        $('#visit_symptom').text('')
        $('#visit_remarks').html('<i>None</i>')


        $('#details_table').addClass('d-none').removeClass('d-flex')
        $('#detail_spinner').removeClass('d-none').addClass('d-flex')
    })

</script>
{%endblock%}