{%extends 'layouts/visitor_dashboard.html'%}

{%block content%}
<div class="row">
    <div class="col">
        <div class="card card-primary card-outline">
            <form id="profile_form">
                <div class="card-header">
                    <h4 class="card-title">Personal Information</h4>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <label>First Name</label>
                                <input readonly required type="text" name="first_name" class="form-control" value="{{data.first_name if data.first_name != none}}">
                            </div>
                            <div class="col">
                                <label>Middle Name</label>
                                <input readonly type="text" name="middle_name" class="form-control" value="{{data.middle_name if data.middle_name != none}}">
                            </div>
                            <div class="col">
                                <label>Last Name</label>
                                <input readonly required type="text" name="last_name" class="form-control" value="{{data.last_name if data.last_name != none}}">
                            </div>
                            <div class="col">
                                <label>Suffix Name</label>
                                <input readonly type="text" name="suffix_name" class="form-control" value="{{data.suffix_name if data.suffix_name != none}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="contact_number">Contact Number</label>
                                    <input readonly required type="text" class="form-control" name="contact_number" value="{{data.contact_number if data.contact_number != none}}">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label>Birth Date</label>
                                    <input readonly type="date" name="birth_date" class="form-control" value="{{data.birth_date if data.birth_date != none}}">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label>Gender</label>
                                    <select readonly name="gender">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Non-binary">Non-binary</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="region">Region</label>
                                    <select required readonly name="region" id="region">
                                        <option value="" selected disabled></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="province">Province</label>
                                    <select required readonly name="province" id="province"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="municipality">Municipality</label>
                                    <select required readonly name="municipality" id="municipality"></select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="barangay">Barangay</label>
                                    <select required readonly name="barangay" id="barangay"><option selected disabled value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="house_street">Lot and Street</label>
                                    <input readonly required type="text" name="house_street" class="form-control" value="{{data.house_street if data.house_street != none}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <button type="button" class="btn btn-info" id="edit">Edit</button>
                    <button id="cancel" type="button" class="btn btn-default mr-2 d-none">Cancel</button>
                    <button id="submit" type="submit" class="d-none btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}

{%block styles%}
<style>
    .is_error{
        border-color: #EF4444 !important;
        box-shadow: 0 0 0 0 rgba(239, 68, 68, 0.25) !important;
        padding-right: calc(0.75em + 2.3125rem);
        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23EF4444' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23EF4444' stroke='none'/%3e%3c/svg%3e") center right 1.75rem/calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) no-repeat;
    }
    .select2-selection__placeholder{
        color: #444 !important;
    }
    .preloader{
        transition-delay: 2.2s !important;
    }
</style>
{%endblock%}

{%block plugin_css%}
<link rel="stylesheet" href="{{url_for('static', path='/plugins/toastr/toastr.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', path='/plugins/select2/css/select2.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', path='/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', path='/plugins/daterangepicker/daterangepicker.css')}}">
{%endblock%}

{%block plugin_js%}
<script src="{{url_for('static', path='/plugins/moment/moment.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/toastr/toastr.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/select2/js/select2.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/jquery-validation/jquery.validate.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/jquery-validation/additional-methods.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/inputmask/jquery.inputmask.min.js')}}"></script>
{%endblock%}



{%block scripts%}
<script>
    function setRegion(){ 
        $.ajax({
            type: "get",
            url: "https://psgc.gitlab.io/api/regions",
            dataType: "json",
            success: function (response) {
                response.forEach(el=>{let builder
                    if(el.code == "{{data.region}}"){
                        p_region = el.code
                        builder = `
                            <option selected value="${el.code}">${el.name} (${el.regionName})</option>
                        `
                    }else{
                        builder = `
                            <option value="${el.code}">${el.name} (${el.regionName})</option>
                        `
                    }
                    $('[name=region]').append(builder)
                })
            }
        });
    }

    function setProvince(code, value = null){
        $('[name=province]').prop('readonly', false)
        $('[name=province]').empty()
        $('[name=barangay]').prop('readonly', true)
        $('[name=barangay]').empty()
        $('[name=municipality]').prop('readonly', true)
        $('[name=municipality]').empty()
        
        
        if(code != '130000000'){
            $.ajax({
                type: "get",
                url: "https://psgc.gitlab.io/api/regions/"+code+"/provinces",
                dataType: "json",
                success: function (response) {
                    response.forEach(el=>{
                        if(el.code == value){
                            builder = `
                                <option selected value="${el.code}">${el.name}</option>
                            `
                        }else{
                            builder = `
                                <option value="${el.code}">${el.name}</option>
                            `
                        }
                            $('[name=province]').append(builder)
                    })
                }
            });
        }else{
            region = code
            $.ajax({
                type: "get",
                url: "https://psgc.gitlab.io/api/districts",
                dataType: "json",
                success: function (response) {
                    response.forEach(el=>{
                        if(el.code == value){
                            builder = `
                                <option selected value="${el.code}">${el.name}</option>
                            `
                        }else{
                            builder = `
                                <option value="${el.code}">${el.name}</option>
                            `
                        }
                        $('[name=province]').append(builder)
                    })
                }
            });
        }
    }

    function setMunicipality(code, region, value = null){
        $('[name=municipality]').prop('readonly', false)
        $('[name=municipality]').empty()
        $('[name=barangay]').prop('readonly', true)
        $('[name=barangay]').empty()

        if(region != '130000000'){
            $.ajax({
                type: "get",
                url: "https://psgc.gitlab.io/api/provinces/"+code+"/cities-municipalities",
                dataType: "json",
                success: function (response) {
                    response.forEach(el=>{
                        if(el.code == value){
                            builder = `
                                <option selected value="${el.code}">${el.name}</option>
                            `
                        }else{
                            builder = `
                                <option value="${el.code}">${el.name}</option>
                            `
                        }
                        $('[name=municipality]').append(builder)
                    })
                }
            });
        }else{
            $.ajax({
                type: "get",
                url: "https://psgc.gitlab.io/api/districts/"+code+"/cities",
                dataType: "json",
                success: function (response) {
                    response.forEach(el=>{
                        if(el.code == value){
                            builder = `
                                <option selected value="${el.code}">${el.name}</option>
                            `
                        }else{
                            builder = `
                                <option value="${el.code}">${el.name}</option>
                            `
                        }
                        $('[name=municipality]').append(builder)
                    })
                }
            });
        }
    }

    function setBarangay(code, value = null){
        $('[name=barangay]').prop('readonly', false)
        $('[name=barangay]').empty()
        
        
        $.ajax({
            type: "get",
            url: "https://psgc.gitlab.io/api/cities-municipalities/"+code+"/barangays",
            dataType: "json",
            success: function (response) {
                response.forEach(el=>{
                    if(el.code == value){
                        builder = `
                            <option selected value="${el.code}">${el.name}</option>
                        `
                    }else{
                        builder = `
                            <option value="${el.code}">${el.name}</option>
                        `
                    }
                    $('[name=barangay]').append(builder)
                })
            }
        });
    }

    $(document).ready(()=>{
        let region, province, municipality, barangay

        $('[name=region]').select2({width: 'auto', placeholder: {id: '', text: 'Select Region'}, disabled: 'readonly'})
        $('[name=province]').select2({width: 'auto', placeholder: {id: '', text: 'Select Region First'}, disabled: 'readonly'})
        $('[name=municipality]').select2({width: 'auto', placeholder: {id: '', text: 'Select Province First'}, disabled: 'readonly'})
        $('[name=barangay]').select2({width: 'auto', placeholder: {id: '', text: 'Select Municipality First'}, disabled: 'readonly'})
        $('[name=gender]').select2({width: 'auto', minimumResultsForSearch: -1, disabled: 'readonly'})
        $('[name=contact_number]').inputmask('\\0\\999-999-9999',{
            escapeChar: '\\',
            showMaskOnFocus: false,
            showMaskonHover: false,
        })

        $('[name=birth_date]').prop('max', moment().subtract(15, 'years').format('YYYY-MM-DD'))
        
        setRegion()

        {%if data.full_address%}
        setProvince("{{data.region}}", "{{data.province}}")
        setMunicipality("{{data.province}}", "{{data.region}}", "{{data.municipality}}")
        setBarangay("{{data.municipality}}", "{{data.barangay}}")
        {%endif%}



        $('[name=region]').on('change', function(){
            region = $(this).val()
            setProvince(region)
        })

        $('[name=province]').on('change', function(){
            province = $(this).val()
            setMunicipality(province, region)
        })

        $('[name=municipality]').on('change', function(){
            municipality = $(this).val()
            setBarangay(municipality)
        })

    })

    function enableEdit(){
        $('input[readonly]').prop('readonly', false)
        $('[name=gender], [name=region], [name=province], [name=municipality], [name=barangay]').prop('disabled', false)
        $('#edit').addClass('d-none')
        $('#cancel, #submit').removeClass('d-none')
    }

    function disableEdit(submitted = false){
        $('.form-control').prop('readonly', true)
        $('[name=gender], [name=region], [name=province], [name=municipality], [name=barangay]').prop('disabled', 'readonly')
        $('#edit').removeClass('d-none')
        $('#cancel, #submit').addClass('d-none')
        console.log(submitted)
        if(submitted == false){
            {%if data != none%}
            $('[name=first_name]').val('{{data.first_name}}')
            {%if data.middle_name%}
                $('[name=middle_name]').val('{{data.middle_name}}')
            {%else%}
                $('[name=middle_name]').val(null)
            {%endif%}
            $('[name=last_name]').val('{{data.last_name}}')
            {%if data.suffix_name%}
            $('[name=suffix_name]').val('{{data.suffix_name}}')
            {%else%}
            $('[name=suffix_name]').val(null)
            {%endif%}
            $('[name=birth_date]').val('{{data.birth_date}}')
            $('[name=contact_number]').val('{{data.contact_number}}')
            $('[name=house_street]').val('{{data.house_street}}')
            $('[name=gender]').val('{{data.gender}}').trigger('change')
            setProvince("{{data.region}}", "{{data.province}}")
            setMunicipality("{{data.province}}", "{{data.region}}", "{{data.municipality}}")
            setBarangay("{{data.municipality}}", "{{data.barangay}}")

            $.ajax({
                type: "get",
                url: "https://psgc.gitlab.io/api/regions",
                dataType: "json",
                success: function (response) {
                    response.forEach(el=>{let builder
                        if(el.code == "{{data.region}}"){
                            p_region = el.code
                            builder = `
                                <option selected value="${el.code}">${el.name} (${el.regionName})</option>
                            `
                        }else{
                            builder = `
                                <option value="${el.code}">${el.name} (${el.regionName})</option>
                            `
                        }
                        $('[name=region]').append(builder)
                    })
                }
            });

            {%endif%}
        }
    }

    jQuery.validator.addMethod("phone", function(value, element) {
        return this.optional(element) || /^09[0-9]{2}-[0-9]{3}-[0-9]{4}/.test(value);
    }, "Please provide a valid phone number");

    $('#profile_form').submit(e=>e.preventDefault()).validate({
        rules:{
            contact_number: {
                phone: true
            }
        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
            error.addClass('invalid-feedback');
            element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
            $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass('is-invalid');
        },
        submitHandler: function(){
            let house_street = $('[name=house_street]').val()
            let barangay = $('[name=barangay]').val()
            let municipality = $('[name=municipality]').val()
            let province = $('[name=province]').val()
            let region = $('[name=region]').val()

            let barangay_text = $('[name=barangay]').select2('data')[0].text
            let municipality_text = $('[name=municipality]').select2('data')[0].text
            let province_text = $('[name=province]').select2('data')[0].text
            let region_text = $('[name=region]').select2('data')[0].text.split(' (')[0]
            let full_address = `${house_street}, ${barangay_text}, ${municipality_text}, ${province_text}, ${region_text}`
        
            let birth_date = $('[name=birth_date]').val()
            let gender = $('[name=gender]').val()
        
            let first_name = $('[name=first_name]').val()
            let middle_name = $('[name=middle_name]').val() != '' ? $('[name=middle_name]').val() : null
            let last_name = $('[name=last_name]').val()
            let suffix_name = $('[name=suffix_name]').val() != '' ? $('[name=suffix_name]').val() : null
            let contact_number = $('[name=contact_number]').val().split('-').join('').substr(1,10)
        
            let full_name
            if(middle_name != null){
                if(suffix_name != null)
                full_name = `${first_name} ${middle_name} ${last_name} ${suffix_name}`
                else
                full_name = `${first_name} ${middle_name} ${last_name}`
            }else
                full_name = `${first_name} ${last_name}`
        
            let data = JSON.stringify({
                first_name,
                middle_name,
                last_name,
                suffix_name,
                full_name,
                birth_date,
                gender,
                contact_number,
                house_street,
                barangay,
                municipality,
                province,
                region,
                full_address
            })
            $.ajax({
                type: "POST",
                url: "/profile/save",
                data: data,
                contentType: 'application/json',
                dataType: "json",
                success: function (response) {
                    if(!response.error){
                        toastr.success(response.message)
                        disableEdit(submitted = true)
                    }
                }
            });
        }
    })


    $('#edit').on('click', enableEdit)
    $('#cancel').on('click', () => {
        disableEdit()
    })

    {%if data == none%}
    setTimeout(()=>{
        enableEdit()
    }, 250)
    {%endif%}

</script>
{%if data.gender%}}
<script>
    $('[name=gender]').val('{{data.gender}}').trigger('change')
</script>
{%endif%}}
{%endblock%}