{%extends 'layouts/receptionist_dashboard.html'%}

{%block content%}
<div class="card card-primary card-outline">
	<div class="card-header">
		<h4 class="card-title">Quick Info</h4>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-lg-4 col-6">
        <div class="info-box">
          <span class="info-box-icon bg-info"><i class="fas fa-shoe-prints"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Walk-In Visits</span>
            <span class="info-box-number" id="walkin_count">0</span>
          </div>
        </div>
			</div>
			<div class="col-lg-4 col-6">
        <div class="info-box">
          <span class="info-box-icon bg-success"><i class="fas fa-thumbs-up"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Approved Appointments</span>
            <span class="info-box-number" id="approve_count">0</span>
          </div>
        </div>
			</div>
			<div class="col-lg-4 col-6">
        <div class="info-box">
          <span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Rejected Appointments</span>
            <span class="info-box-number" id="reject_count">0</span>
          </div>
        </div>
			</div>

		</div>
	</div>
</div>
<div class="card card-primary card-outline mt-5">
	<div class="card-header">
		<h4 class="card-title">Charts</h4>
	</div>
	<div class="card-body">
		<div class="container">
			<div class="row">
				<div class="col d-flex flex-column">
					<div>
						<select name="scope" class="w-25">
							<option value="month">Monthly</option>
							<option value="week">Weekly</option>
							<option value="day">Daily</option>
						</select>
					</div>
					<canvas id="day_week_month"></canvas>
				</div>
			</div>
			<hr />
			<div class="row my-4">
				<div class="col-lg-6 ml-auto mr-auto">
					<canvas id="by_type"></canvas>
				</div>
				<div class="col-lg-6">
					<canvas id="per_station"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock%} 

{%block plugin_css%}
<link
	rel="stylesheet"
	href="{{url_for('static',path='/plugins/chart.js/Chart.min.css')}}"
/>
<link
	rel="stylesheet"
	href="{{url_for('static', path='/plugins/select2/css/select2.min.css')}}"
/>
{%endblock%} 

{%block plugin_js%}
<script src="{{url_for('static', path='/plugins/moment/moment.min.js')}}"></script>
<script src="{{url_for('static',path='/plugins/chart.js/Chart.bundle.min.js')}}"></script>
{%endblock%} 

{%block scripts%}
<script>
	$('[name=scope]').select2({ minimumResultsForSearch: -1 })
	$('[name=filter]').select2({ width: 'auto', minimumResultsForSearch: -1 })
	let day_week_chart

	$.ajax({
		type: 'GET',
		url: '/visits/monthly',
		dataType: 'json',
		success: function (response) {
			day_week_chart = new Chart($('#day_week_month'), {
				type: 'line',
				data: response.data,
				options: {
          elements:{
            point:{
              radius: 0
            },
            line:{
              tension: 0
            }
          },
					scales: {
						yAxes: [
							{
								ticks: {
									beginAtZero: true,
									max: 100,
								},
							},
						],
					},
					tooltips: {
						mode: 'index',
						intersect: false,
					},
					title: {
						display: true,
						text: 'Monthly Visit Count',
					},
					legend: {
						display: false,
					},
				},
			})
		},
	})

	$.ajax({
		type: 'GET',
		url: '/visits/per_station',
		dataType: 'json',
		success: function (response) {
			let chart = new Chart($('#per_station'), {
				type: 'bar',
				data: response.data,
				options: {
					scales: {
						yAxes: [
							{
								ticks: {
									beginAtZero: true,
								},
							},
						],
					},
					title: {
						display: true,
						text: 'Number of Visits per station',
					},
					legend: {
						display: false,
					},
				},
			})
		},
	})

	$.ajax({
		type: 'GET',
		url: '/visits/by_type',
		dataType: 'json',
		success: function (response) {
			let chart = new Chart($('#by_type'), {
				type: 'pie',
				data: response.data,
				options: {
					title: {
						display: true,
						text: 'Rate of Visits by Appointment Type',
					},
					tooltips: {
						callbacks: {
							label: function (tooltipItem, data) {
								return (
									data['labels'][tooltipItem['index']] +
									': ' +
									data['datasets'][0]['data'][tooltipItem['index']] +
									' - ' +
									(
										(data['datasets'][0]['data'][tooltipItem['index']] /
											response.total) *
										100
									).toFixed(2) +
									'%'
								)
							},
						},
					},
				},
			})
		},
	})

	function changeMonth() {
		$.ajax({
			type: 'GET',
			url: '/visits/monthly',
			dataType: 'json',
			success: function (response) {
				day_week_chart.data = response.data
				day_week_chart.options.scales.yAxes[0].ticks.max = 100
				day_week_chart.options.title.text = 'Montly Visit Count'
				day_week_chart.update()
			},
		})
	}

	function changeWeek() {
		$.ajax({
			type: 'GET',
			url: '/visits/per_week',
			dataType: 'json',
			success: function (response) {
				day_week_chart.data = response.data
				day_week_chart.options.scales.yAxes[0].ticks.max = 40
				day_week_chart.options.title.text = 'Weekly Visit Count'
				day_week_chart.update()
			},
		})
	}

	function changeDay() {
		$.ajax({
			type: 'GET',
			url: '/visits/per_day',
			dataType: 'json',
			success: function (response) {
				day_week_chart.data = response.data
				day_week_chart.options.scales.yAxes[0].ticks.max = 20
				day_week_chart.options.title.text = 'Daily Visit Count'
				day_week_chart.update()
			},
		})
	}

	$('[name=scope]').on('change', function () {
		if ($(this).val() == 'day') changeDay()
		else if ($(this).val() == 'week') changeWeek()
		else changeMonth()
	})

	$.ajax({
		type: 'GET',
		url: '/visits/count_walkin',
		success: function (response) {
			$('#walkin_count').text(response)
		},
	})

	$.ajax({
		type: 'GET',
		url: '/appointments/receptionist/count_approve',
		success: function (response) {
			$('#approve_count').text(response)
		},
	})

	$.ajax({
		type: 'GET',
		url: '/appointments/receptionist/count_reject',
		success: function (response) {
			$('#reject_count').text(response)
		},
	})

	$.ajax({
		type: 'GET',
		url: '/profile/count_blacklist',
		dataType: 'json',
		xhrFields: {
			withCredentials: true,
		},
		success: function (response) {
			if (!response.error) {
				$('#blacklist_count').text(response.data)
			}
		},
	})
</script>
{%endblock%}
