{%extends 'layouts/receptionist_dashboard.html'%}

{%block content%}
<div class="row">
	<div class="col-lg-6 col-md-10 ml-auto mr-auto">
		<div class="card card-primary card-outline">
			<div class="card-header row">
				<div class="card-title">
					<h4>Request Details</h4>
				</div>
				<div class="ml-auto">
					<label>Status:</label>
					<span>{{data.status}}</span>
				</div>
			</div>
			<div class="card-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col">
							<div class="container">
								<div class="row">
									<div class="col">
										<label>Name:</label>
										<span>{{data.full_name}}</span>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<label>Email:</label>
										<span>{{data.email}}</span>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<label>Contact Number:</label>
										<span>{{data.contact_number}}</span>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<label>Address:</label>
										<span>{{data.address}}</span>
									</div>
								</div>
								<hr />
								<div class="row">
									<div class="col">
										<div class="row">
											<div class="col">
												<label>Destination:</label>
												<span>{{data.station.name}}</span>
											</div>
											<div class="col">
												<label>Schedule:</label>
												<span id="schedule"></span>
											</div>
										</div>
										<div class="row">
											<div class="col">
												<label>Patient Name:</label>
												{%if data.patient_name != none%}
												<span>{{data.patient_name}}</span>
												{%else%}
												<span>None</span>
												{%endif%}
											</div>
										</div>
										<div class="row">
											<div class="col">
												<label>Purpose:</label>
												<span>{{data.purpose}}</span>
											</div>
										</div>
									</div>
								</div>
								{%if data.status == 'Rejected'%}
								<hr />
								<div class="row">
									<div class="col">
										<label>Remarks:</label>
										<span>{{data.remarks}}</span>
									</div>
								</div>
								{%endif%}
							</div>
						</div>
					</div>
				</div>
			</div>
			{%if data.status == 'Pending'%}
			<div class="card-footer d-flex justify-content-end">
				<button class="btn btn-danger" id="reject">
					<i class="fas fa-trash"></i>
					Reject
				</button>
				<button class="btn btn-primary ml-2" id="approve">
					<i class="fas fa-check"></i>
					Approve
				</button>
			</div>
			{%endif%}
		</div>
	</div>
</div>
{%endblock%} 

{%block modal%}
<div
	class="modal fade"
	data-backdrop="static"
	data-keyboard="false"
	id="remarks_modal"
	tabindex="-1"
>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form id="reject_form">
				<div class="modal-header">
					<h5 class="modal-title">Reason for Rejection</h5>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>Remarks:</label>
						<textarea
							required
							name="remarks"
							rows="8"
							class="form-control"
						></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
{%endblock%} 

{%block plugin_css%}

{%endblock%} 

{%block plugin_js%}
<script src="{{url_for('static', path='/plugins/jquery-validation/jquery.validate.min.js')}}"></script>
{%endblock%} 

{%block scripts%}
<script>
	$('#schedule').text(
		new Date('{{data.schedule}}').toLocaleDateString('default', {
			month: 'long',
			day: 'numeric',
			year: 'numeric',
		})
	)

	$('#approve').on('click', function () {
		$('#approve, #reject').prop('disabled', true)
		$.ajax({
			type: 'PUT',
			url: '/appointments/{{data.id}}',
			contentType: 'application/json',
			dataType: 'json',
			success: function (response) {
				if (!response.error) {
					toastr.success(response.message)
					setTimeout(() => {
						window.location.href = '/receptionist/appointments'
					}, 1500)
				}
			},
		})
	})
	$('#reject').on('click', function () {
		$('#approve, #reject').prop('disabled', true)
		$('#remarks_modal').modal('show')
	})

	$('#remarks_modal').on('hide.bs.modal', function () {
		$('#approve, #reject').prop('disabled', false)
	})

	$('#reject_form')
		.on('submit', (e) => e.preventDefault())
		.validate({
			errorElement: 'span',
			errorPlacement: function (error, element) {
				error.addClass('invalid-feedback')
				element.closest('.form-group').append(error)
			},
			highlight: function (element, errorClass, validClass) {
				$(element).addClass('is-invalid')
			},
			unhighlight: function (element, errorClass, validClass) {
				$(element).removeClass('is-invalid')
			},
			submitHandler: function () {
				let remarks = $('[name=remarks]').val()
				$.ajax({
					type: 'DELETE',
					url: '/appointments/{{data.id}}',
					contentType: 'application/json',
					data: JSON.stringify({ remarks }),
					dataType: 'json',
					success: function (response) {
						if (!response.error) {
							toastr.error(response.message)
							$('#remarks_modal').modal('hide')
							setTimeout(() => {
								window.location.href = '/receptionist/appointments'
							}, 1500)
						}
					},
				})
			},
		})
</script>
{%endblock%}
