{%extends 'layouts/receptionist_dashboard.html'%}

{%block styles%}
<style>
    .dt-center {
        text-align: center;
    }

    .is_error {
        border-color: #EF4444 !important;
        box-shadow: 0 0 0 0 rgba(239, 68, 68, 0.25) !important;
        padding-right: calc(0.75em + 2.3125rem);
        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23EF4444' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23EF4444' stroke='none'/%3e%3c/svg%3e") center right 1.75rem/calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) no-repeat;
    }
</style>
{%endblock%}

{%block content%}
<div class="card card-primary card-outline card-tabs">
    <div class="card-header p-0 pt-1">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link {{'active' if request.query_params.get('tab') == 'request'}}" id="request-tab"
                    data-toggle="pill" href="#request" role="tab" aria-controls="request"
                    aria-selected="true">Requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{'active' if request.query_params.get('tab') == 'approved'}}" id="approved-tab"
                    data-toggle="pill" href="#approved" role="tab" aria-controls="approved"
                    aria-selected="false">Approved</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{'active' if request.query_params.get('tab') == 'rejected'}}" id="rejected-tab"
                    data-toggle="pill" href="#rejected" role="tab" aria-controls="rejected"
                    aria-selected="false">Rejected</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="walkin-tab" data-toggle="pill" href="#walkin" role="tab" aria-controls="walkin"
                    aria-selected="false">Walk-In Form</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane fade {{'show active' if request.query_params|length == 0}}">
                <center>
                    <h4>Please select tab.</h4>
                </center>
            </div>
            <div class="tab-pane fade {{'show active' if request.query_params.get('tab') == 'request'}}" id="request"
                role="tabpanel" aria-labelledby="request-tab">
                <table class="table table-hover table-bordered" id="appointment_request_table" width="100%">
                    <thead>
                        <tr>
                            <!-- <th>Image</th> -->
                            <th>Name</th>
                            <th>Destination</th>
                            <th>Schedule</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="tab-pane fade {{'show active' if request.query_params.get('tab') == 'approved'}}" id="approved"
                role="tabpanel" aria-labelledby="approved-tab">
                <table class="table table-hover table-bordered" id="appointment_approved_table" width="100%">
                    <thead>
                        <tr>
                            <!-- <th>Image</th> -->
                            <th>Name</th>
                            <th>Destination</th>
                            <th>Schedule</th>
                            <th>Type</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="tab-pane fade {{'show active' if request.query_params.get('tab') == 'rejected'}}" id="rejected"
                role="tabpanel" aria-labelledby="rejected-tab">
                <table class="table table-hover table-bordered" id="appointment_rejected_table" width="100%">
                    <thead>
                        <tr>
                            <!-- <th>Image</th> -->
                            <th>Name</th>
                            <th>Destination</th>
                            <th>Schedule</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="walkin" role="tabpanel" aria-labelledby="walkin-tab">
                <form id="walkin_form">
                    <div class="container">
                        <div class="row">
                            <div class="col-3">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group clearfix">
                                            <h5>Symptoms</h5>
                                            <div class="icheck-primary">
                                                <input type="checkbox" value="Fever" name="symptoms" id="fever">
                                                <label for="fever">
                                                    Fever
                                                </label>
                                            </div>
                                            <div class="icheck-primary">
                                                <input type="checkbox" value="Dry Cough" name="symptoms" id="dry_cough">
                                                <label for="dry_cough">
                                                    Dry Cough
                                                </label>
                                            </div>
                                            <div class="icheck-primary">
                                                <input type="checkbox" value="Fatigue" name="symptoms" id="fatigue">
                                                <label for="fatigue">
                                                    Fatigue
                                                </label>
                                            </div>
                                            <div class="icheck-primary">
                                                <input type="checkbox" value="Aches and Pains" name="symptoms"
                                                    id="aches_pains">
                                                <label for="aches_pains">
                                                    Aches and Pains
                                                </label>
                                            </div>
                                            <div class="icheck-primary">
                                                <input type="checkbox" value="Runny Nose" name="symptoms"
                                                    id="runny_nose">
                                                <label for="runny_nose">
                                                    Runny Nose
                                                </label>
                                            </div>
                                            <div class="icheck-primary">
                                                <input type="checkbox" value="Sore Throat" name="symptoms"
                                                    id="sore_throat">
                                                <label for="sore_throat">
                                                    Sore Throat
                                                </label>
                                            </div>
                                            <div class="icheck-primary">
                                                <input type="checkbox" value="Shortness of Breath" name="symptoms"
                                                    id="shortness_breath">
                                                <label for="shortness_breath">
                                                    Shortness of Breath
                                                </label>
                                            </div>
                                            <div class="icheck-primary">
                                                <input type="checkbox" value="Diarrhea" name="symptoms" id="diarrhea">
                                                <label for="diarrhea">
                                                    Diarrhea
                                                </label>
                                            </div>
                                            <div class="icheck-primary">
                                                <input type="checkbox" value="Headache" name="symptoms" id="headache">
                                                <label for="headache">
                                                    Headache
                                                </label>
                                            </div>
                                            <div class="icheck-primary">
                                                <input type="checkbox" value="Loss of Smell and Tase" name="symptoms"
                                                    id="loss_smell_taste">
                                                <label for="loss_smell_taste">
                                                    Loss of smell and taste
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="full_name">Full Name</label>
                                            <input required type="text" class="form-control" name="full_name">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="birth_date">Birth Date</label>
                                            <input type="date" required name="birth_date" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input required type="email" class="form-control" name="email">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="contact_number">Contact Number</label>
                                            <input required type="text" class="form-control" name="contact_number">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="region">Region</label>
                                            <select required name="region" id="region">
                                                <option value="" selected disabled></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="province">Province</label>
                                            <select required readonly name="province" id="province"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="municipality">Municipality</label>
                                            <select required readonly name="municipality" id="municipality"></select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="barangay">Barangay</label>
                                            <select required readonly name="barangay" id="barangay">
                                                <option selected disabled value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="house_street">Lot and Street</label>
                                            <input required type="text" name="house_street" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="station_id">Destination</label>
                                            <select required name="station_id" id="">
                                                <option value="" selected disabled></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="patient_name">Patient Name</label>
                                            <input type="text" class="form-control" name="patient_name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="purpose">Purpose</label>
                                            <textarea required name="purpose" class="form-control" cols="30"
                                                rows="8"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col d-flex justify-content-end">
                                <button class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}

{%block modal%}
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="remarks_modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="reject_form">
                <div class="modal-header">
                    <h5 class="modal-title">Reason for Rejection</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="item">
                    <div class="form-group">
                        <label>Remarks:</label>
                        <textarea required name="remarks" rows="8" class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="blacklist_modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Blacklist Entry Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <center>
                    <h4>Is this the visitor?</h4>
                    <img src="" alt="Blacklist Image" id="blacklist_image">
                    <p class="mt-3">
                        If yes, please <b>do not grant entry</b>. <br>Otherwise, ask the visitor to provide another
                        email.
                    </p>
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" id="appointment_modal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header d-flex justify-between">
                <h5 class="modal-title">Appointment Details (<b id="appointment_status"></b>)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body py-0">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>Schedule</td>
                            <td id="appointment_schedule"></td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td id="appointment_full_name"></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td id="appointment_email"></td>
                        </tr>
                        <tr>
                            <td>Contact Number</td>
                            <td id="appointment_contact_number"></td>
                        </tr>
                        <tr class="border-bottom">
                            <td>Address</td>
                            <td id="appointment_address"></td>
                        </tr>
                        <tr>
                            <td>Destination</td>
                            <td id="appointment_station"></td>
                        </tr>
                        <tr>
                            <td>Patient Name</td>
                            <td id="appointment_patient"></td>
                        </tr>
                        <tr class="border-bottom">
                            <td>Purpose</td>
                            <td id="appointment_purpose"></td>
                        </tr>
                        <tr>
                            <td>Remarks</td>
                            <td id="appointment_remarks"><i>None</i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer" id="appointment_modal_footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

{%endblock%}

{%block plugin_css%}
<link rel="stylesheet" href="{{url_for('static', path='/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}">
<link rel="stylesheet"
    href="{{url_for('static', path='/plugins/datatables-scroller/css/scroller.bootstrap4.min.css')}}">
<link rel="stylesheet"
    href="{{url_for('static', path='/plugins/datatables-responsive/css/responsive.bootstrap4.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', path='/plugins/datatables-buttons/css/buttons.bootstrap4.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', path='/plugins/toastr/toastr.min.css')}}">
<link rel="stylesheet"
    href="{{url_for('static', path='/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', path='/plugins/icheck-bootstrap/icheck-bootstrap.min.css')}}">
{%endblock%}

{%block plugin_js%}
<script src="{{url_for('static', path='/plugins/moment/moment.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-scroller/js/dataTables.scroller.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-scroller/js/scroller.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-responsive/js/dataTables.responsive.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-responsive/js/responsive.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-buttons/js/dataTables.buttons.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-buttons/js/buttons.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/jszip/jszip.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-buttons/js/buttons.html5.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-buttons/js/buttons.print.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/jquery-validation/jquery.validate.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/inputmask/jquery.inputmask.min.js')}}"></script>
{%endblock%}

{%block scripts%}
<script>
    let region, district
    $(document).ready(() => {
        $('[name=station_id]').select2({ placeholder: { id: '', text: 'Select Destination' } })
        $('[name=region]').select2({ placeholder: { id: '', text: 'Select Region' } })
        $('[name=province]').select2({ placeholder: { id: '', text: 'Select Region First' } })
        $('[name=municipality]').select2({ placeholder: { id: '', text: 'Select Province First' } })
        $('[name=barangay]').select2({ placeholder: { id: '', text: 'Select Municipality First' } })
        $('[name=contact_number]').inputmask('\\0\\999-999-9999', {
            escapeChar: '\\',
            showMaskOnFocus: false,
            showMaskonHover: false,
        })

        // For address
        $.ajax({
            type: "get",
            url: "https://psgc.gitlab.io/api/regions",
            dataType: "json",
            success: function (response) {
                response.forEach(el => {
                    builder = `
                        <option value="${el.code}-${el.name}">${el.name} (${el.regionName})</option>
                    `
                    $('[name=region]').append(builder)
                })
            }
        });

        $('[name=region]').on('change', function () {
            $('[name=province]').prop('readonly', false)
            $('[name=province]').empty()
            $('[name=barangay]').prop('readonly', true)
            $('[name=barangay]').empty()
            $('[name=municipality]').prop('readonly', true)
            $('[name=municipality]').empty()
            let code = $(this).val().split('-')[0]

            $('[name=province]').append('<option selected disabled value=""></option>')
            if (code != '130000000') {
                $.ajax({
                    type: "get",
                    url: "https://psgc.gitlab.io/api/regions/" + code + "/provinces",
                    dataType: "json",
                    success: function (response) {
                        response.forEach(el => {
                            if (el.regionCode == code) {
                                builder = `
                                    <option value="${el.code}-${el.name}">${el.name}</option>
                                `
                                $('[name=province]').append(builder)
                            }
                        })
                    }
                });
            } else {
                region = code
                $.ajax({
                    type: "get",
                    url: "https://psgc.gitlab.io/api/districts",
                    dataType: "json",
                    success: function (response) {
                        response.forEach(el => {
                            if (el.regionCode == code) {
                                builder = `
                                    <option value="${el.code}-${el.name}">${el.name}</option>
                                `
                                $('[name=province]').append(builder)
                            }
                        })
                    }
                });
            }
        })

        $('[name=province]').on('change', function () {
            $('[name=municipality]').prop('readonly', false)
            $('[name=municipality]').empty()
            $('[name=barangay]').prop('readonly', true)
            $('[name=barangay]').empty()
            $('[name=municipality]').append('<option selected disabled value=""></option>')
            let code = $(this).val().split('-')[0]
            if (region != '130000000') {
                $.ajax({
                    type: "get",
                    url: "https://psgc.gitlab.io/api/provinces/" + code + "/cities-municipalities",
                    dataType: "json",
                    success: function (response) {
                        response.forEach(el => {
                            if (el.provinceCode == code || el.cityCode == code) {
                                builder = `
                                    <option value="${el.code}-${el.name}">${el.name}</option>
                                `
                                $('[name=municipality]').append(builder)
                            }
                        })
                    }
                });
            } else {
                $.ajax({
                    type: "get",
                    url: "https://psgc.gitlab.io/api/districts/" + code + "/cities",
                    dataType: "json",
                    success: function (response) {
                        response.forEach(el => {
                            builder = `
                                <option value="${el.code}-${el.name}">${el.name}</option>
                            `
                            $('[name=municipality]').append(builder)
                        })
                    }
                });
            }
        })

        $('[name=municipality]').on('change', function () {
            $('[name=barangay]').prop('readonly', false)
            $('[name=barangay]').empty()
            $('[name=barangay]').append('<option selected disabled value=""></option>')
            let code = $(this).val().split('-')[0]
            $.ajax({
                type: "get",
                url: "https://psgc.gitlab.io/api/cities-municipalities/" + code + "/barangays",
                dataType: "json",
                success: function (response) {
                    response.forEach(el => {
                        builder = `
                            <option value="${el.name}">${el.name}</option>
                        `
                        $('[name=barangay]').append(builder)
                    })
                }
            });
        })

        // For destination
        $.ajax({
            type: "GET",
            url: "/stations/all",
            dataType: "json",
            success: function (response) {
                response.data.forEach(el => {
                    let builder = `
                        <option value="${el.id}">${el.name}</option>
                    `
                    $('[name=station_id]').append(builder)
                })
            }
        });
    })

    $('select').on('change', function () {
        if ($(this).hasClass("select2-hidden-accessible")) {
            $(this).siblings('span.select2-container').children('.selection').children('.select2-selection').removeClass('is_error')
            $(this).siblings('span.error').remove()
        }
    })


    jQuery.validator.addMethod("phone", function (value, element) {
        return this.optional(element) || /^09[0-9]{2}-[0-9]{3}-[0-9]{4}/.test(value);
    }, "Please provide a valid phone number");

    function walkinAppointment() {

        let house_street = $('[name=house_street]').val()
        let barangay = $('[name=barangay]').val()
        let municipality = $('[name=municipality]').val().split('-')[1]
        let province = $('[name=province]').val().split('-')[1]
        let region = $('[name=region]').val().split('-')[1]

        let full_name = $('[name=full_name]').val()
        let email = $('[name=email]').val()
        let birth_date = $('[name=birth_date]').val()
        let contact_number = $('[name=contact_number]').val().split('-').join('').substr(1, 10)
        let address = `${house_street}, ${barangay}, ${municipality}, ${province}, ${region}`
        let station_id = $('[name=station_id]').val()
        let patient_name = $('[name=patient_name]').val().length ? $('[name=patient_name]').val() : null
        let purpose = $('[name=purpose]').val()
        let symptoms = []
        $.each($('[name=symptoms]:checked'), function (i, el) {
            symptoms.unshift($(el).val())
        });

        if (symptoms.length > 2) {
            toastr.warning('This visitor has too many symptoms! Please deny entry.')
        } else {
            let condition = symptoms.length == 0 ? 'Good' : 'Mild'
            let body = JSON.stringify({
                full_name,
                email,
                contact_number,
                birth_date,
                address,
                station_id,
                patient_name,
                purpose,
                symptoms: symptoms.length == 0 ? null : symptoms.join(';'),
                condition,
            })

            $.ajax({
                type: "POST",
                url: "/appointments/walkin",
                data: body,
                dataType: "json",
                contentType: 'application/json',
                success: function (response) {
                    if (!response.error) {
                        toastr.success(response.message)
                        $('#walkin_form').get(0).reset()
                        $('select').val('')
                        appointment_approved_table.draw()
                    } else {
                        toastr.error(response.message)
                        $('#blacklist_image').prop('src', response.data.image)
                        $('#blacklist_modal').modal('show')
                    }
                }
            });
        }
    }

    $('#walkin_form').submit(e => { e.preventDefault() }).validate({
        rules: {
            contact_number: {
                phone: true
            }
        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
            error.addClass('invalid-feedback');
            element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
            var elem = $(element);
            if (elem.hasClass("select2-hidden-accessible")) {
                elem.siblings('span.select2-container').children('.selection').children('.select2-selection').addClass('is_error')
            }
            $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass('is-invalid');
        },
        submitHandler: function () {
            walkinAppointment()
        }
    })

    function newExportAction(e, dt, button, config) {
        var self = this;
        var oldStart = dt.settings()[0]._iDisplayStart;
        dt.one('preXhr', function (e, s, data) {
            // Just this once, load all data from the server...
            data.start = 0;
            data.length = 2147483647;
            dt.one('preDraw', function (e, settings) {
                // Call the original action function
                if (button[0].className.indexOf('buttons-copy') >= 0) {
                    $.fn.dataTable.ext.buttons.copyHtml5.action.call(self, e, dt, button, config);
                } else if (button[0].className.indexOf('buttons-excel') >= 0) {
                    $.fn.dataTable.ext.buttons.excelHtml5.available(dt, config) ?
                        $.fn.dataTable.ext.buttons.excelHtml5.action.call(self, e, dt, button, config) :
                        $.fn.dataTable.ext.buttons.excelFlash.action.call(self, e, dt, button, config);
                } else if (button[0].className.indexOf('buttons-csv') >= 0) {
                    $.fn.dataTable.ext.buttons.csvHtml5.available(dt, config) ?
                        $.fn.dataTable.ext.buttons.csvHtml5.action.call(self, e, dt, button, config) :
                        $.fn.dataTable.ext.buttons.csvFlash.action.call(self, e, dt, button, config);
                } else if (button[0].className.indexOf('buttons-pdf') >= 0) {
                    $.fn.dataTable.ext.buttons.pdfHtml5.available(dt, config) ?
                        $.fn.dataTable.ext.buttons.pdfHtml5.action.call(self, e, dt, button, config) :
                        $.fn.dataTable.ext.buttons.pdfFlash.action.call(self, e, dt, button, config);
                } else if (button[0].className.indexOf('buttons-print') >= 0) {
                    $.fn.dataTable.ext.buttons.print.action(e, dt, button, config);
                }
                dt.one('preXhr', function (e, s, data) {
                    // DataTables thinks the first item displayed is index 0, but we're not drawing that.
                    // Set the property to what it was before exporting.
                    settings._iDisplayStart = oldStart;
                    data.start = oldStart;
                });
                // Reload the grid with the original page. Otherwise, API functions like table.cell(this) don't work properly.
                setTimeout(dt.ajax.reload, 0);
                // Prevent rendering of the full data to the DOM
                return false;
            });
        });
        // Requery the server with the new one-time export settings
        dt.ajax.reload();
    };

    let appointment_request_table = $('#appointment_request_table').DataTable({
        serverSide: true,
        responsive: true,
        processing: true,
        ajax: '/appointments/receptionist/datatable_pending',
        language: {
            zeroRecords: 'No appointment requests yet',
        },
        order: [[2, 'asc']],
        columnDefs: [
            { targets: [2, 3], className: 'dt-center' }
        ],
        columns: [
            { data: 'full_name' },
            { data: 'destination' },
            {
                data: 'schedule',
                render: {
                    _: function (data) {
                        return moment(data).format('MMMM DD, YYYY')
                    },
                    sort: function (data) {
                        return new Date(data).toLocaleTimeString()
                    }
                }
            },
            {
                data: 'id',
                render: function (data) {
                    return (`
                        <div class="text-center dropdown">
                            <a class="btn btn-sm btn-default" data-toggle="dropdown" role="button">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" data-toggle="modal" data-target="#appointment_modal" data-id="${data}" class="dropdown-item d-flex view_appointment">
                                    <div style="width: 2rem">
                                        <i class="fas fa-eye"></i>
                                    </div>
                                    <div>View</div>
                                </a>

                                <div class="dropdown-item d-flex action" data-status="Reject" data-item="${data}">
                                    <div style="width: 2rem">
                                        <i class="fas fa-trash-alt"></i>
                                    </div>
                                    <div>Reject</div>
                                </div>
                            </div>
                        </div>
                    `)
                }
            }
        ]
    })

    let appointment_approved_table = $('#appointment_approved_table').DataTable({
        serverSide: true,
        responsive: true,
        processing: true,
        ajax: '/appointments/receptionist/datatable_approved',
        language: {
            emptyTable: 'No approved appointments yet',
        },
        columnDefs: [
            { targets: [2, 4], className: 'dt-center' }
        ],
        order: [[2, 'desc']],
        columns: [
            { data: 'full_name' },
            { data: 'destination' },
            {
                data: 'schedule',
                render: {
                    _: function (data) {
                        return moment(data).format('MMMM DD, YYYY')
                    },
                    sort: function (data) {
                        return new Date(data).toLocaleDateString()
                    }
                }
            },
            { data: 'type' },
            {
                data: 'file',
                render: function (data, type, row) {
                    if (data != null) {
                        return (`
                        <div class="text-center dropdown">
                                <a class="btn btn-sm btn-default" data-toggle="dropdown" role="button">
                                    <i class="fas fa-ellipsis-v"></i>
                                </a>
                                
                                <div class="dropdown-menu dropdown-menu-right">

                                    <a href="#" data-toggle="modal" data-target="#appointment_modal" data-id="${row.id}" class="dropdown-item d-flex view_appointment">
                                        <div style="width: 2rem">
                                            <i class="fas fa-eye"></i>
                                        </div>
                                        <div>View</div>
                                    </a>
    
                                    <div class="dropdown-item d-flex btn-print" data-item="${data}">
                                        <div style="width: 2rem">
                                            <i class="fas fa-print"></i>
                                        </div>
                                        <div>Print Pass</div>
                                    </div>
                                </div>
                            </div>
                        `)
                    } else {
                        return (`
                        <div class="text-center dropdown">
                                <a class="btn btn-sm btn-default" data-toggle="dropdown" role="button">
                                    <i class="fas fa-ellipsis-v"></i>
                                </a>
                                
                                <div class="dropdown-menu dropdown-menu-right">

                                    <a href="#" data-toggle="modal" data-target="#appointment_modal" data-id="${row.id}" class="dropdown-item d-flex view_appointment">
                                        <div style="width: 2rem">
                                            <i class="fas fa-eye"></i>
                                        </div>
                                        <div>View</div>
                                    </a>
    
                                    <div class="dropdown-item d-flex btn-print disabled">
                                        <div style="width: 2rem">
                                            <i class="fas fa-print"></i>
                                        </div>
                                        <div>Print</div>
                                    </div>
                                </div>
                            </div>
                        `)
                    }
                }
            }
        ]
    })

    let appointment_rejected_table = $('#appointment_rejected_table').DataTable({
        serverSide: true,
        responsive: true,
        processing: true,
        ajax: '/appointments/receptionist/datatable_rejected',
        language: {
            emptyTable: 'No rejected appointments yet',
        },
        columnDefs: [
            { targets: [2, 3], className: 'dt-center' }
        ],
        order: [[2, 'desc']],
        columns: [
            { data: 'full_name' },
            { data: 'destination' },
            {
                data: 'schedule',
                render: {
                    _: function (data) {
                        return moment(data).format('MMMM DD, YYYY')
                    },
                    sort: function (data) {
                        return new Date(data).toLocaleDateString()
                    }
                }
            },
            {
                data: 'id',
                render: function (data) {
                    return (`
                    <div class="text-center dropdown">
                            <a class="btn btn-sm btn-default" data-toggle="dropdown" role="button">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" data-toggle="modal" data-target="#appointment_modal" data-id="${data}" class="dropdown-item d-flex view_appointment">
                                    <div style="width: 2rem">
                                        <i class="fas fa-eye"></i>
                                    </div>
                                    <div>View</div>
                                </a>
                            </div>
                        </div>
                    `)
                }
            }
        ]

    })

    $('#appointment_request_table').on('click', 'tr', function (e) {
        if (
            $(e.target).hasClass('action') ||
            $(e.target.parentElement).hasClass('action')
        ) {
            let item = $(e.target).data('item') || $(e.target.parentElement).data('item')
            let status = $(e.target).data('status') || $(e.target.parentElement).data('status')
            if (status == 'Approve') {
                $.ajax({
                    type: "PUT",
                    url: "/appointments/" + item,
                    data: JSON.stringify({ status }),
                    contentType: 'application/json',
                    dataType: "json",
                    success: function (response) {
                        if (!response.error) {
                            toastr.success(response.message)
                            appointment_approved_table.draw()
                            appointment_request_table.draw()
                            appointment_rejected_table.draw()
                        }
                    }
                });
            } else {
                $('#remarks_modal').modal('show')
                $('[name=item]').val(item)
            }
        } else if (
            $(e.target).hasClass('view_appointment') ||
            $(e.target).parent().hasClass('view_appointment')
        ) {
            let id = $(e.target).data('id') || $(e.target).parent().data('id')
            $.ajax({
                type: "GET",
                url: "/appointments/" + id,
                contentType: 'application/json',
                success: function (response) {
                    if (!response.error) {
                        let data = response.data
                        $('#appointment_full_name').text(data.full_name)
                        $('#appointment_status').text(data.status)
                        $('#appointment_email').text(data.email)
                        $('#appointment_contact_number').text(data.contact_number)
                        $('#appointment_address').text(data.address)
                        $('#appointment_station').text(data.station.name)
                        $('#appointment_patient').html(`
                            <div>
                                <span>${data.patient_name}</span>
                                &nbsp;
                                <button onclick="verify(event);" class="btn btn-link" id="patient_lookup">Verify</button>
                            </div>
                        `)
                        $('#appointment_purpose').text(data.purpose)
                        $('#appointment_schedule').text(moment(data.schedule).format('MMMM DD, YYYY'))
                        $('#appointment_remarks').text(data.remarks)

                        // ACTION BUTTONS AND FUNCTIONS
                        $('#appointment_modal_footer').prepend(`<button type='button' class='btn btn-danger' id='reject_request'>Reject</button>`)
                        $('#appointment_modal_footer').prepend(`<button type='button' disabled class='btn btn-success' id='accept_request'>Accept</button>`)
                        $('#reject_request').on('click', function () {
                            $('#appointment_modal').modal('hide')
                            $('#remarks_modal').modal('show')
                            $('[name=item]').val(id)
                        })
                        $('#accept_request').on('click', function () {
                            let status = 'Approved'
                            $.ajax({
                                type: "PUT",
                                url: "/appointments/" + id,
                                data: JSON.stringify({ status }),
                                contentType: 'application/json',
                                dataType: "json",
                                success: function (response) {
                                    if (!response.error) {
                                        toastr.success(response.message)
                                        appointment_approved_table.draw()
                                        appointment_request_table.draw()
                                        appointment_rejected_table.draw()
                                        $('#appointment_modal').modal('hide')
                                    }
                                }
                            });
                        })
                    }
                }
            })
        }
    })

    $('#appointment_approved_table').on('click', 'tr', function (e) {
        if (
            $(e.target).parent().hasClass('btn-print') ||
            $(e.target).hasClass('btn-print')
        ) {
            let url = $(e.target).parent().data('item') || $(e.target).data('item')
            let win = window.open('')
            win.document.write(`
                <style>
                    @page{
                        size: auto;
                        margin: 0;
                    }    
                </style>
            `)
            win.document.write('<img src="' + url + '" width="638px" onload="window.print();window.close()" />');
            win.focus();
        } else if (
            $(e.target).hasClass('view_appointment') ||
            $(e.target).parent().hasClass('view_appointment')
        ) {
            let id = $(e.target).data('id') || $(e.target).parent().data('id')
            $.ajax({
                type: "GET",
                url: "/appointments/" + id,
                contentType: 'application/json',
                success: function (response) {
                    if (!response.error) {
                        let data = response.data
                        console.log(data)
                        $('#appointment_full_name').text(data.full_name)
                        $('#appointment_status').text(data.status)
                        $('#appointment_email').text(data.email)
                        $('#appointment_contact_number').text(data.contact_number)
                        $('#appointment_address').text(data.address)
                        $('#appointment_station').text(data.station.name)
                        $('#appointment_patient').text(data.patient_name)
                        $('#appointment_purpose').text(data.purpose)
                        $('#appointment_schedule').text(moment(data.schedule).format('MMMM DD, YYYY'))
                        $('#appointment_remarks').text(data.remarks)
                    }
                }
            })
        }
    })

    $('#appointment_rejected_table').on('click', 'tr', function (e){
        if (
            $(e.target).hasClass('view_appointment') ||
            $(e.target).parent().hasClass('view_appointment')
        ){
            let id = $(e.target).data('id') || $(e.target).parent().data('id')
            $.ajax({
                type: "GET",
                url: "/appointments/" + id,
                contentType: 'application/json',
                success: function (response) {
                    if (!response.error) {
                        let data = response.data
                        $('#appointment_full_name').text(data.full_name)
                        $('#appointment_status').text(data.status)
                        $('#appointment_email').text(data.email)
                        $('#appointment_contact_number').text(data.contact_number)
                        $('#appointment_address').text(data.address)
                        $('#appointment_station').text(data.station.name)
                        $('#appointment_patient').text(data.patient_name)
                        $('#appointment_purpose').text(data.purpose)
                        $('#appointment_schedule').text(moment(data.schedule).format('MMMM DD, YYYY'))
                        $('#appointment_remarks').html(data.remarks)
                    }
                }
            })
        }
    })

    $('#remarks_modal').on('hide.bs.modal', function () {
        $('#reject_form').get(0).reset()
    })

    $('#reject_form').on('submit', e => e.preventDefault()).validate({
        errorElement: 'span',
        errorPlacement: function (error, element) {
            error.addClass('invalid-feedback');
            element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
            $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass('is-invalid');
        },
        submitHandler: function () {
            let item = $('[name=item]').val()
            let remarks = $('[name=remarks]').val()
            $.ajax({
                type: "DELETE",
                url: "/appointments/" + item,
                data: JSON.stringify({ remarks }),
                contentType: 'application/json',
                dataType: "json",
                success: function (response) {
                    if (!response.error) {
                        toastr.error(response.message)
                        $('#remarks_modal').modal('hide')
                        appointment_approved_table.draw()
                        appointment_request_table.draw()
                        appointment_rejected_table.draw()
                    }
                }
            });
        }
    })

    $('#appointment_modal').on('hide.bs.modal', function () {
        $('#appointment_full_name').text('')
        $('#appointment_status').text('')
        $('#appointment_email').text('')
        $('#appointment_contact_number').text('')
        $('#appointment_address').text('')
        $('#appointment_station').text('')
        $('#appointment_patient').text('')
        $('#appointment_purpose').text('')
        $('#appointment_schedule').text('')
        $('#appointment_remarks').html('<i>None</i>')
        $('#reject_request, #accept_request').off('click').remove()
    })

    function verify(e){
        $(e.target).html(
        `<div class="align-middle spinner-border spinner-border-sm" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        `)

        $.ajax({
            type: 'GET',
            url: '/inpatients/search?name=' + $(e.target).prev().text(),
            dataType: 'json',
            success: function(response){
                if(response == true){
                    $('#accept_request').attr('disabled', false)
                    $(e.target).html('<i class="fas fa-check"></i>')
                }else{
                    $(e.target).addClass('text-danger')
                    $(e.target).html('<i class="fas fa-times"></i> Not Found')
                }
            }
        })
    }

</script>
{%endblock%}