{%extends 'layouts/receptionist_dashboard.html'%}

{%block styles%}
<style>
	.dt-center {
		text-align: center;
	}
	td.dt-body-middle {
		vertical-align: middle;
	}
	.is_error {
		border-color: #ef4444 !important;
		box-shadow: 0 0 0 0 rgba(239, 68, 68, 0.25) !important;
		padding-right: calc(0.75em + 2.3125rem);
		background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23EF4444' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23EF4444' stroke='none'/%3e%3c/svg%3e")
			center right 1.75rem / calc(0.75em + 0.375rem) calc(0.75em + 0.375rem)
			no-repeat;
	}
	.shrink {
		width: 12%;
	}
</style>
{%endblock%}

{%block content%}
<div class="card card-primary card-outline card-tabs">
	<div class="card-header p-0 pt-1">
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item">
				<a
					class="nav-link {{'active' if request.query_params.get('tab') == 'active'}}"
					id="active-tab"
					data-toggle="pill"
					href="#active"
					role="tab"
					aria-controls="active"
					aria-selected="true"
					>Active</a
				>
			</li>
			<li class="nav-item">
				<a
					class="nav-link {{'active' if request.query_params.get('tab') == 'blacklist'}}"
					id="blacklist-tab"
					data-toggle="pill"
					href="#blacklist"
					role="tab"
					aria-controls="blacklist"
					aria-selected="false"
					>History</a
				>
			</li>
		</ul>
	</div>
	<div class="card-body">
		<div class="tab-content">
			<div
				class="tab-pane fade {{'show active' if request.query_params|length == 0}}"
			>
				<center>
					<h4>Please select tab.</h4>
				</center>
			</div>
			<div
				class="tab-pane fade {{'show active' if request.query_params.get('tab') == 'active'}}"
				id="active"
				role="tabpanel"
				aria-labelledby="active-tab"
			>
				<table
					class="table table-hover table-bordered"
					id="active_table"
					width="100%"
				>
					<thead>
						<tr>
							<th>Image</th>
							<th>Name</th>
							<th>Birth Date</th>
							<th>Date Blacklisted</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
			<div
				class="tab-pane fade {{'show active' if request.query_params.get('tab') == 'blacklist'}}"
				id="blacklist"
				role="tabpanel"
				aria-labelledby="blacklist-tab"
			>
				<table
					class="table table-hover table-bordered"
					id="blacklist_table"
					width="100%"
				>
					<thead>
						<tr>
							<th>Image</th>
							<th>Name</th>
							<th>Date Blacklisted</th>
							<th>Status</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{%endblock%} {%block modal%}
<div
	class="modal fade"
	data-backdrop="static"
	data-keyboard="false"
	id="blacklist_modal"
	tabindex="-1"
>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form id="blacklist_form">
				<div class="modal-header">
					<h5 class="modal-title">Reason for Blacklisting</h5>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="hidden" name="item" />
					<div class="form-group">
						<label for="">Visitor Name:</label>
						<span id="name"></span>
					</div>
					<div class="form-group">
						<label>Remarks:</label>
						<textarea
							required
							name="remarks"
							rows="8"
							class="form-control"
						></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div
	class="modal fade"
	data-backdrop="static"
	data-keyboard="false"
	tabindex="-1"
	id="cancel_modal"
>
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Remove from Blacklist</h5>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input type="hidden" name="blacklist" />
				<p>Are you sure?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
				<button type="button" id="remove_blacklist" class="btn btn-danger">
					Yes
				</button>
			</div>
		</div>
	</div>
</div>
<div
	class="modal fade"
	data-backdrop="static"
	data-keyboard="false"
	id="remarks_modal"
	tabindex="-1"
>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form id="remarks_form">
				<div class="modal-header">
					<h5 class="modal-title">Reason for Blacklisting</h5>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="hidden" name="remarks_item" />
					<div class="form-group">
						<label for="">Visitor Name:</label>
						<span id="remarks_name"></span>
					</div>
					<div class="form-group">
						<label for="">Birth Date:</label>
						<span id="remarks_birth_date"></span>
					</div>
					<div class="form-group">
						<label for="">Date Blacklisted:</label>
						<span id="remarks_date_blacklisted"></span>
					</div>
					<div class="form-group">
						<label for="">Number of times blacklisted:</label>
						<span id="remarks_blacklisted_count"></span>
					</div>
					<div class="form-group">
						<label>Remarks:</label>
						<textarea
							required
							readonly
							name="remarks_remarks"
							rows="8"
							class="form-control"
						></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>
					<button type="button" id="edit" class="btn btn-info">Edit</button>
					<button
						type="submit"
						id="update_remarks"
						class="btn btn-primary d-none"
					>
						Update
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
{%endblock%} {%block plugin_css%}
<link
	rel="stylesheet"
	href="{{url_for('static', path='/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}"
/>
<link
	rel="stylesheet"
	href="{{url_for('static', path='/plugins/datatables-responsive/css/responsive.bootstrap4.min.css')}}"
/>

{%endblock%} {%block plugin_js%}
<script src="{{url_for('static', path='/plugins/moment/moment.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-scroller/js/dataTables.scroller.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-scroller/js/scroller.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-responsive/js/dataTables.responsive.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-responsive/js/responsive.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/jquery-validation/jquery.validate.min.js')}}"></script>
{%endblock%} {%block scripts%}
<script>
	let active_table = $('#active_table').DataTable({
		serverSide: true,
		processing: true,
		responsive: true,
		ajax: '/profile/datatable/active',
		columnDefs: [
			{ targets: [2, 3, 4], className: 'dt-body-middle dt-center' },
			{ targets: [1], className: 'dt-body-middle' },
			{ targets: [0], className: 'dt-center' },
		],
		order: [[3, 'desc']],
		columns: [
			{
				data: 'image',
				render: (data) => `
                    <img src="${data}" width="225"/>
                `,
				sortable: false,
				searchable: false,
			},
			{ data: 'full_name' },
			{
				data: 'birth_date',
				render: {
					_: (data) => moment(data).format('MMMM DD, YYYY'),
					sort: (data) => new Date(data).toLocaleTimeString(),
				},
			},
			{
				data: 'created_at',
				render: (data) => moment(data).format('MMMM DD, YYYY'),
			},
			{
				data: 'id',
				render: (data) => {
					return `
                        <div class="text-center dropdown">
                            <a class="btn btn-sm btn-default" data-toggle="dropdown" role="button">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-item d-flex remarks-btn" data-item="${data}">
                                    <div style="width: 2rem">
                                        <i class="fas fa-clipboard"></i>
                                    </div>
                                    <div>View Extra Details</div>
                                </div>

                                <div class="dropdown-item d-flex blacklist-btn" data-item="${data}">
                                    <div style="width: 2rem">
                                        <i class="fas fa-user-check"></i>
                                    </div>
                                    <div>Remove from Blacklist</div>
                                </div>
                            </div>
                        </div>
                    `
				},
			},
		],
	})

	let blacklist_table = $('#blacklist_table').DataTable({
		serverSide: true,
		processing: true,
		responsive: true,
		ajax: '/profile/datatable/blacklist',
		order: [[2, 'desc']],
		columnDefs: [
			{ targets: [2, 3, 4], className: 'dt-body-middle dt-center' },
			{ targets: [1], className: 'dt-body-middle' },
			{ targets: [0], className: 'shrink' },
		],
		columns: [
			{
				data: 'image',
				render: (data) => `
                    <img src="${data}" width="225"/>
                `,
			},
			{ data: 'full_name' },
			{
				data: 'created_at',
				render: {
					_: (data) => moment(data).format('MMMM DD, YYYY'),
					sort: (data) => new Date(data).toLocaleTimeString(),
				},
			},
			{
				data: 'status',
				render: function (data) {
					return `
                    <span class="w-100 p-2 badge ${
											data ? 'badge-danger' : 'badge-secondary'
										}">${
						data ? 'Blacklisted' : 'Removed from Blacklist'
					}</span></h1>
                    `
				},
			},
			{
				data: 'id',
				render: function (data, type, row) {
					// REMOVE VIEW
					if (row.status) {
						return `
                            <div class="text-center dropdown">
                                <a class="btn btn-sm btn-default" data-toggle="dropdown" role="button">
                                    <i class="fas fa-ellipsis-v"></i>
                                </a>
    
                                <div class="dropdown-menu dropdown-menu-right">
    
                                    <div class="dropdown-item d-flex blacklist-btn" data-item="${data}">
                                        <div style="width: 2rem">
                                            <i class="fas fa-user-check"></i>
                                        </div>
                                        <div>Remove from Blacklist</div>
                                    </div>
                                </div>
                            </div>
                        `
					} else {
						return `
                            <div class="text-center dropdown">
                                <a class="btn btn-sm btn-default" data-toggle="dropdown" role="button">
                                    <i class="fas fa-ellipsis-v"></i>
                                </a>
    
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-item disabled d-flex">
                                        <div style="width: 2rem">
                                            <i class="fas fa-times-circle"></i>
                                        </div>
                                        <div>No actions to show</div>
                                    </div>
                                </div>
                            </div>
                        `
					}
				},
			},
		],
	})

	$('#blacklist_table').on('click', 'tr', function (e) {
		if ($(e.target).parent().hasClass('blacklist-btn')) {
			let data = blacklist_table.row($(e.target).parents('tr')).data()
			$('[name=blacklist]').val(data.id)
			$('#cancel_modal').modal('show')
		}
	})

	$('#active_table').on('click', 'tr', function (e) {
		if ($(e.target).parent().hasClass('remarks-btn')) {
			let data = active_table.row($(e.target).parents('tr')).data()

			$('[name=remarks_item]').val(data.id)
			$('#remarks_name').text(data.full_name)

			$.ajax({
				type: 'GET',
				url: '/blacklist/remarks/' + data.id,
				dataType: 'json',
				success: function (response) {
					$('#remarks_blacklisted_count').text(response.count)
					$('#remarks_birth_date').text(
						moment(response.data.birth_date).format('MMMM DD, YYYY')
					)
					$('#remarks_date_blacklisted').text(
						moment(response.data.date_blacklisted).format('MMMM DD, YYYY')
					)

					$('[name=remarks_remarks]').val(response.data.remarks)
				},
			})

			$('#remarks_modal').modal('show')
		}

		if ($(e.target).parent().hasClass('blacklist-btn')) {
			let data = active_table.row($(e.target).parents('tr')).data()
			$('[name=blacklist]').val(data.id)
			$('#cancel_modal').modal('show')
		}
	})

	$('#cancel_modal').on('hide.bs.modal', function () {
		$('[name=blacklist]').val(null)
	})

	$('#remarks_form')
		.submit((e) => e.preventDefault())
		.validate({
			errorElement: 'span',
			errorPlacement: function (error, element) {
				error.addClass('invalid-feedback')
				element.closest('.form-group').append(error)
			},
			highlight: function (element, errorClass, validClass) {
				var elem = $(element)
				$(element).addClass('is-invalid')
			},
			unhighlight: function (element, errorClass, validClass) {
				$(element).removeClass('is-invalid')
			},
			submitHandler: function () {
				let remarks = $('[name=remarks_remarks]').val()
				let id = $('[name=remarks_item]').val()
				$.ajax({
					type: 'PUT',
					url: '/blacklist/remarks/' + id,
					data: JSON.stringify({ remarks }),
					dataType: 'json',
					contentType: 'application/json',
					success: function (response) {
						if (!response.error) {
							toastr.success(response.message)
							$('#remarks_modal').modal('hide')
						}
					},
				})
			},
		})

	$('#edit').on('click', function () {
		$(this).addClass('d-none')
		$('#update_remarks').removeClass('d-none')
		$('[name=remarks_remarks]').prop('readonly', false)
	})

	$('#remarks_modal').on('hide.bs.modal', function () {
		$('[name=remarks_item], [name=remarks_remarks]').val(null)
		$(
			'#remarks_name, #remarks_birth_date, #remarks_date_blacklisted, #remarks_blacklisted_count'
		).text('')
		$('[name=remarks_remarks]').prop('readonly', true)
		$('#edit').removeClass('d-none')
		$('#update_remarks').addClass('d-none')
	})

	$('#remove_blacklist').on('click', function () {
		$.ajax({
			type: 'PUT',
			url: '/profile/blacklist/remove/' + $('[name=blacklist]').val(),
			dataType: 'json',
			success: function (response) {
				if (!response.error) {
					toastr.success(response.message)
					active_table.draw()
					blacklist_table.draw()
					$('#cancel_modal').modal('hide')
				} else {
					toastr.error(response.message)
				}
			},
		})
	})
</script>
{%endblock%}
