{%extends 'layouts/receptionist_dashboard.html'%}

{%block content%}
<div class="row">
	<div class="col-lg-8 col-md-12 ml-auto mr-auto">
		<div class="card card-primary card-outline">
			<div class="card-header">
				<div class="card-title">
					<h4>Check-in Details</h4>
				</div>
			</div>
			<div class="card-body">
				<div class="container">
					<div class="row">
						<div class="col">
							<label>Name:</label>
							<span>{{data.appointment.full_name}}</span>
						</div>
						<div class="col">
							<label>Health Condition:</label>
							<span>{{data.health_form.condition}}</span>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<label>Email:</label>
							<span>{{data.appointment.email}}</span>
						</div>
						<div class="col">
							<label>Symptoms:</label>
							{%if data.health_form.symptoms == none%}
							<span>No Symptoms</span>
							{%else%}
							<span>{{', '.join(data.health_form.symptoms.split(';'))}}</span>
							{%endif%}
						</div>
					</div>
					<div class="row">
						<div class="col">
							<label>Contact Number:</label>
							<span>{{data.appointment.contact_number}}</span>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<label>Address:</label>
							<span>{{data.appointment.address}}</span>
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="col">
							<div class="row">
								<div class="col">
									<label>Destination:</label>
									<span>{{data.appointment.station.name}}</span>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<label>Patient Name:</label>
									{%if data.appointment.patient_name != none%}
									<span>{{data.appointment.patient_name}}</span>
									{%else%}
									<span>None</span>
									{%endif%}
								</div>
							</div>
							<div class="row">
								<div class="col">
									<label>Purpose:</label>
									<span>{{data.appointment.purpose}}</span>
								</div>
							</div>
						</div>
						<div class="col">
							<label>Remarks:</label>
							<textarea
								name="remarks"
								id="remarks"
								class="form-control"
							></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer d-flex justify-content-end">
				<button class="btn btn-danger" id="reject">
					<i class="fas fa-trash"></i>
					Reject
				</button>
				<button class="btn btn-primary ml-2" id="proof">
					<i class="fas fa-camera"></i>
					Take Image proof
				</button>
			</div>
		</div>
	</div>
</div>
{%endblock%} 

{%block modal%}
<div class="modal" data-backdrop="static" tabindex="-1" id="proof_modal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Proof Image</h5>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<center>
					<div class="spinner-border"></div>
					<div id="camera" class="d-none"></div>
					<input type="hidden" name="pass_id" value="{{data.id}}" />
				</center>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
				<button type="button" class="btn btn-primary" id="snap">Snap</button>
			</div>
		</div>
	</div>
</div>
{%endblock%} 

{%block plugin_css%}

{%endblock%} 

{%block plugin_js%}
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.min.js"
	integrity="sha512-dQIiHSl2hr3NWKKLycPndtpbh5iaHLo6MwrXm7F0FM5e+kL2U16oE9uIwPHUl6fQBeCthiEuV/rzP3MiAB8Vfw=="
	crossorigin="anonymous"
	referrerpolicy="no-referrer"
></script>
{%endblock%} 

{%block scripts%}
<script>
	$(document).ready(function () {
		Webcam.set({
			width: 320,
			height: 240,
			image_format: 'jpeg',
			jpeg_quality: 90,
		})
	})

	$('#proof_modal').on('hide.bs.modal', () => {
		$('.spinner-border').removeClass('d-none')
		$('#camera').addClass('d-none')
		$('#proof, #snap, #reject').attr('disabled', false)
	})

	$('#proof').on('click', function () {
		$(this, '#reject').attr('disabled', true)
		$('#proof_modal').modal('show')
		Webcam.reset()
		Webcam.attach('#camera')
		setTimeout(() => {
			$('.spinner-border').addClass('d-none')
			$('#camera').removeClass('d-none')
		}, 1250)
	})

	$('#snap').on('click', function () {
		$(this).attr('disabled', true)
		Webcam.snap((data_uri) => {
			let image = data_uri.replace(/^data\:image\/\w+\;base64\,/, '')
			let remarks = $('[name=remarks]').val()
			let pass_id = $('[name=pass_id]').val()

			$.ajax({
				type: 'POST',
				url: '/visits/checkin',
				data: JSON.stringify({ pass_id, remarks, image }),
				dataType: 'json',
				contentType: 'application/json',
				success: function (response) {
					if (!response.error) {
						$('#proof_modal').modal('hide')
						toastr.success(response.message)
						setTimeout(() => {
							window.location.href = response.url
						}, 1000)
					} else {
						toastr.error(response.message)
						$('#proof, #snap, #reject').attr('disabled', false)
					}
				},
			})
		})
	})
</script>
{%endblock%}
