{%extends 'layouts/receptionist_dashboard.html'%}

{%block styles%}
{%endblock%}

{%block content%}
<div class="row">
  <div class="col-lg-10 col-md-12 mr-auto ml-auto">
    <div class="card card-primary card-outline">
      <div class="card-header">
        <form class="form-inline" id="search">

          <label class="sr-only" for="name">Name</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="name" placeholder="Search Visitor Name">


          <button type="submit" class="btn btn-primary mb-2">Search</button>
        </form>
      </div>
      <div class="card-body p-4" style="height: 60vh; overflow: auto;">
        <center>
          <h3 id="nothing">Nothing to show.</h3>
          <div class="spinner d-none" id="loader">
            <div class="spinner-border"></div>
          <div>Processing</div>
          </div>
        </center>
        <div id="dates" class="d-none">
          <h5>Dates Visited</h5>
          <ul class="list-group">

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}

{%block modal%}
<div class="modal fade" id="loadingModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <center>
          <div class="spinner">
            <div class="spinner-border text-primary"></div>
          </div>
          Processing
        </center>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" id="messageModal" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Email Alert</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <small>Note: Do not edit texts enclosed in curly brackets.</small>
        <textarea name="message" id="message" cols="30" rows="10">
          <div>Important Notice:</div>

          <p>Greetings, {name}</p>

          <p>The World Health Organization (WHO) increases its support to the national government, through the Department of Interior and Local Government (DILG) and the Department of Health (DOH), with the Contact Tracing Handbook for more than 1,700 local government units (LGUs) to enhance their local COVID-19 contact tracing systems and response strategies.</p>

          <p>The PUP Hospital, the management, and its employees are one with the government's effort in strengtening the Contact Tracing Management to help lower the number of cases of COVID-19.</p>

          <p>In this regard, we would like to inform you that a visitor last <b>{visit_date}</b> tested <b>POSITIVE</b> for COVID-19. The COVID-19 Test conducted to the said visitor was administered last <b id="date_administered">(Enter Day of Week and Date)</b>.</p>

          <p>We encourage you to report on your nearest Health Center or in our Emergency Room for a COVID-19 Test.</p>

          <p>Expect a call or email from our Health Workers within 24 hours.</p>

          <p>
            If you are experiencing the following:
              Most common symptoms:
                <ul>
                  <li>fever</li>
                  <li>cough</li>
                  <li>tiredness</li>
                  <li>loss of taste or smell</li>
                </ul>
            
              Less common symptoms:
                <ul>
                  <li>sore throat</li>
                  <li>headache</li>
                  <li>aches and pains</li>
                  <li>diarrhoea</li>
                  <li>a rash on skin, or discolouration of fingers or toes</li>
                  <li>red or irritated eyes</li>
                </ul>
            
              Serious symptoms:
                <ul>
                  <li>difficulty breathing or shortness of breath</li>
                  <li>loss of speech or mobility, or confusion</li>
                  <li>chest pain</li>
                </ul>
          </p>

          <p>Seek immediate medical attention if you have serious symptoms. Always call before visiting your doctor or health facility.</p>

          <p>For more question, please contact +63 912 345 6789 or send an email on qwerty@hospital.com.</p>

          <p>Thank you and stay safe.</p>
        </textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" id="send_message" class="btn btn-primary">Send</button>
      </div>
    </div>
  </div>
</div>
{%endblock%}


{%block plugin_css%}

<link
	rel="stylesheet"
	href="{{url_for('static', path='/plugins/summernote/summernote-bs4.min.css')}}"
/>
{%endblock%}

{%block plugin_js%}
<script src="{{url_for('static', path='/plugins/moment/moment.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/summernote/summernote-bs4.min.js')}}"></script>
{%endblock%}

{%block scripts%}
<script>

  $('#search').on('submit', function(e){
    e.preventDefault()
    $.ajax({
      xhr: function(){
        let xhr = new window.XMLHttpRequest

        $('#nothing').addClass('d-none')
        $('#dates').addClass('d-none')
        $('#dates').empty()
        $('#loader').removeClass('d-none')

        return xhr
      },
      type: "GET",
      url: "/mailer/search?q=" + $('#name').val(),
      dataType: "json",
      success: function (response) {
        $('#loader').addClass('d-none')
        $('#nothing').removeClass('d-none')
        if(!response.error){
          let data = response.data

          data.forEach(el => {
            let builder = `
              <li class="list-group-item d-flex justify-content-between">
                
                <div>
                  <div>Visitor Name: ${el.visit_pass.full_name}</div>
                  <div>Date of Visit: ${moment(el.check_in).format('MMMM DD, YYYY')}</div>
                </div>
                <div class="btn btn-primary send-mail" data-date="${moment(el.check_in).format('YYYY-MM-DD')}">Send Alert<br/>for this date</div>
              </li>
            `
            $('#dates').append(builder)
          })

          $('#dates').removeClass('d-none')
          $('#nothing').addClass('d-none')
        }else{
          toastr.info(response.message)
        }
      }
    });
  })


  let target, name
  $('#dates').click(function(e){

    if($(e.target).hasClass('send-mail')){
      target = $(e.target).data('date')
      name = $(e.target).prev().children()[0].innerText.split(': ')[1]

      $('#message').summernote({
        maxHeight: '350px'
      })
      $('#messageModal').modal('show')
    }

  })

  $('#messageModal').on('hidden.bs.modal', function(){
    // $('#message').summernote('destroy')
    $('#date_administered').text('(Enter Day of Week and Date)')
  })

  $('#send_message').click(function(){
    $.ajax({
        xhr: function(){
          var xhr = new window.XMLHttpRequest
          
          xhr.upload.addEventListener('progress', function(){
            $('#loadingModal').modal('show')
            $('#messageModal').modal('hide')
          })

          return xhr
        },
        type: "POST",
        url: "/mailer/send",
        data: JSON.stringify({name: name, date: target, message: $('#message').summernote('code')}),
        contentType: 'application/json',
        xhrFields:{
          withCredentials: true  
        },
        dataType: "json",
        success: function (response) {
          $('#date_administered').text('(Enter Day of Week and Date)')
          setTimeout(()=>{
            $('#messageModal').modal('hide')
            $('#loadingModal').modal('hide')
            toastr.success('Emails sent successfully!')

          }, 1000)
        }
      });
  })

</script>
{%endblock%}