{%extends 'layouts/receptionist_dashboard.html'%}

{%block styles%}
<style>
	td.dt-body-middle {
		vertical-align: middle;
	}
</style>
{%endblock%} 

{%block content%}
<!-- Info Boxes -->
<div class="row">
	<div class="col-lg-3 col-6">
		<!-- small card -->
		<div class="small-box bg-info">
			<div class="inner">
				<h3 id="visit_count">0</h3>

				<p>Total Visits</p>
			</div>
			<div class="icon">
				<i class="fas fa-shoe-prints"></i>
			</div>
			<a href="/receptionist/visits?tab=all" class="small-box-footer">
				More info <i class="fas fa-arrow-circle-right"></i>
			</a>
		</div>
	</div>
	<!-- ./col -->
	<div class="col-lg-3 col-6">
		<!-- small card -->
		<div class="small-box bg-success">
			<div class="inner">
				<h3 id="request_count">0</h3>

				<p>Appointment Requests</p>
			</div>
			<div class="icon">
				<i class="fas fa-clipboard-list"></i>
			</div>
			<a href="/receptionist/appointments?tab=request" class="small-box-footer">
				More info <i class="fas fa-arrow-circle-right"></i>
			</a>
		</div>
	</div>
	<!-- ./col -->
	<div class="col-lg-3 col-6">
		<!-- small card -->
		<div class="small-box bg-warning">
			<div class="inner">
				<h3 id="register_count">0</h3>

				<p>Registered Users</p>
			</div>
			<div class="icon">
				<i class="fas fa-user-plus"></i>
			</div>
			<a href="/receptionist/users?tab=active" class="small-box-footer">
				More info <i class="fas fa-arrow-circle-right"></i>
			</a>
		</div>
	</div>
	<!-- ./col -->
	<div class="col-lg-3 col-6">
		<!-- small card -->
		<div class="small-box bg-danger">
			<div class="inner">
				<h3 id="blacklist_count">0</h3>

				<p>Blacklist</p>
			</div>
			<div class="icon">
				<i class="fas fa-users-slash"></i>
			</div>
			<a href="/receptionist/users?tab=blacklist" class="small-box-footer">
				More info <i class="fas fa-arrow-circle-right"></i>
			</a>
		</div>
	</div>
	<!-- ./col -->
</div>
<!-- / Info Boxes -->

<!-- Card -->
<div class="card card-primary card-outline">
	<!-- Card Header -->
	<div class="card-header row">
		<div class="card-title">Today's Visits</div>
		<div class="ml-auto">
			<button
				class="btn btn-success"
				data-toggle="modal"
				data-target="#scanner_modal"
				id="checkin"
			>
				Check-In
			</button>
			<button
				class="btn btn-warning"
				data-toggle="modal"
				data-target="#scanner_modal"
				id="checkout"
			>
				Check-Out
			</button>
		</div>
	</div>
	<!-- /.card-header -->

	<!-- Card Body -->
	<div class="card-body">
		<table
			id="today_visit"
			class="table table-hover table-bordered"
			width="100%"
		>
			<thead>
				<tr>
					<th>Image</th>
					<th>Visitor Name</th>
					<th>Check In</th>
					<th>Check Out</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<!-- /.card-body -->
</div>
<!-- /.card -->
{%endblock%} 

{%block modal%}
<style>
	#preview {
		width: 400px;
		margin: 0px auto;
	}
</style>
<div class="modal" data-backdrop="static" tabindex="-1" id="scanner_modal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">QR Scanner</h5>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<center>
					<div class="spinner-border"></div>
					<video id="preview" class="d-none"></video>
				</center>
				<input type="hidden" id="scan_type" />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>
	</div>
</div>
{%endblock%} 

{%block plugin_css%}
<link
	rel="stylesheet"
	href="{{url_for('static', path='/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}"
/>
<link
	rel="stylesheet"
	href="{{url_for('static', path='/plugins/datatables-scroller/css/scroller.bootstrap4.min.css')}}"
/>
<link
	rel="stylesheet"
	href="{{url_for('static', path='/plugins/datatables-responsive/css/responsive.bootstrap4.min.css')}}"
/>
<link
	rel="stylesheet"
	href="{{url_for('static', path='/plugins/datatables-buttons/css/buttons.bootstrap4.min.css')}}"
/>

{%endblock%} 

{%block plugin_js%}
<script src="{{url_for('static', path='/plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-scroller/js/dataTables.scroller.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-scroller/js/scroller.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-responsive/js/dataTables.responsive.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-responsive/js/responsive.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-buttons/js/dataTables.buttons.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-buttons/js/buttons.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/jszip/jszip.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-buttons/js/buttons.html5.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-buttons/js/buttons.print.min.js')}}"></script>
<script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
{%endblock%} 

{%block scripts%}
<script>
	let today_table = $('#today_visit').DataTable({
		serverSide: true,
		responsive: true,
		ajax: '/visits/datatable/today',
		language: {
			zeroRecords: 'No visits yet',
		},
		order: [
			[2, 'desc'],
			[3, 'asc'],
		],
		columnDefs: [
			{ targets: [1, 2, 3, 4], className: 'dt-body-middle' },
			{ targets: [0], className: 'dt-body-middle shrink' },
		],
		columns: [
			{ data: 'image', render: (data) => `<img src="${data}" width="225" />` },
			{ data: 'full_name', sortable: false },
			{
				data: 'check_in',
				render: {
					_: function (data) {
						return new Date(data).toLocaleDateString('default', {
							month: 'long',
							day: 'numeric',
							year: 'numeric',
							hour: '2-digit',
							minute: '2-digit',
						})
					},
					sort: function (data) {
						return new Date(data).toLocaleTimeString()
					},
				},
			},
			{
				data: 'check_out',
				render: {
					_: function (data) {
						if (data != null) {
							return new Date(data).toLocaleDateString('default', {
								month: 'long',
								day: 'numeric',
								year: 'numeric',
								hour: '2-digit',
								minute: '2-digit',
							})
						} else {
							return 'Still checked in'
						}
					},
					sort: function (data) {
						if (data != null) return new Date(data).toLocaleDateString()
						else return data
					},
				},
			},
			{
				data: 'id',
				render: (data) => `
            <div class="text-center dropdown">
              <a class="btn btn-sm btn-default" data-toggle="dropdown" role="button">
                  <i class="fas fa-ellipsis-v"></i>
              </a>

              <div class="dropdown-menu dropdown-menu-right">
                  <a href="/receptionist/visits/${data}" class="dropdown-item d-flex">
                      <div style="width: 2rem">
                          <i class="fas fa-eye"></i>
                      </div>
                      <div>View</div>
                  </a>
              </div>
          </div>
        `,
			},
		],
	})

	$('#checkin').on('click', function () {
		$('#scan_type').val('check_in')
	})
	$('#checkout').on('click', function () {
		$('#scan_type').val('check_out')
	})

	let scanner = new Instascan.Scanner({ video: $('#preview')[0] })
	scanner.addListener('scan', function (content) {
		let scan_type = $('#scan_type').val()
		if (scan_type == 'check_in') {
			$.ajax({
				type: 'POST',
				url: '/passes',
				data: JSON.stringify({ pass_id: content }),
				contentType: 'application/json',
				dataType: 'json',
				success: function (response) {
					if (!response.error) {
						window.location.href = response.url
					} else {
						toastr.error(response.message)
					}
				},
			})
		} else {
			$.ajax({
				type: 'POST',
				url: '/visits/checkout',
				data: JSON.stringify({ pass_id: content }),
				contentType: 'application/json',
				dataType: 'json',
				success: function (response) {
					if (!response.error) {
						$('#scanner_modal').modal('hide')
						toastr.success(response.message)
						today_table.draw()
					} else {
						toastr.error(response.message)
					}
				},
			})
		}
	})

	$('#scanner_modal').on('show.bs.modal', function () {
		Instascan.Camera.getCameras()
			.then(function (cameras) {
				if (cameras.length > 0) {
					scanner.start(cameras[0]).then(function () {
						$('#preview').removeClass('d-none')
						$('.spinner-border').addClass('d-none')
					})
				} else {
					console.error('No cameras found.')
				}
			})
			.catch(function (e) {
				console.error(e)
			})
	})

	$('#scanner_modal').on('hide.bs.modal', function () {
		scanner.stop()

		$('#scan_type').val('')
		$('#preview').addClass('d-none')
		$('.spinner-border').removeClass('d-none')
	})

	$.ajax({
		type: 'GET',
		url: '/visits/count_all',
		dataType: 'json',
		xhrFields: {
			withCredentials: true,
		},
		success: function (response) {
			if (!response.error) {
				$('#visit_count').text(response.data)
			}
		},
	})

	$.ajax({
		type: 'GET',
		url: '/appointments/receptionist/count_all',
		dataType: 'json',
		xhrFields: {
			withCredentials: true,
		},
		success: function (response) {
			if (!response.error) {
				$('#request_count').text(response.data)
			}
		},
	})

	$.ajax({
		type: 'GET',
		url: '/profile/count_all',
		dataType: 'json',
		xhrFields: {
			withCredentials: true,
		},
		success: function (response) {
			if (!response.error) {
				$('#register_count').text(response.data)
			}
		},
	})

	$.ajax({
		type: 'GET',
		url: '/profile/count_blacklist',
		dataType: 'json',
		xhrFields: {
			withCredentials: true,
		},
		success: function (response) {
			if (!response.error) {
				$('#blacklist_count').text(response.data)
			}
		},
	})
</script>
{%endblock%}
