{%extends 'layouts/receptionist_dashboard.html'%} 

{%block content%}
<div class="row">
	<div class="col-lg-8 col-md-10 ml-auto mr-auto">
		<div class="card card-primary card-outline">
			<div class="card-header d-flex">
				<h4>User Details</h4>
				<div class="ml-auto">
					<label for="">Status:</label>
					{{'Active' if data.is_blacklist == False else 'Blacklisted'}}
				</div>
			</div>
			<div class="card-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<label>Full Name:</label>
							<span>{{data.profile.full_name}}</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<label>Gender</label>
							<span>{{data.profile.gender}}</span>
						</div>
						<div class="col-md-6 col-sm-12">
							<label>Date of Birth:</label>
							<span id="birth_date"></span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<label>Email:</label>
							<span>{{data.email}}</span>
						</div>
						<div class="col-md-6 col-sm-12">
							<label>Contact Number:</label>
							<span>{{data.profile.contact_number}}</span>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<label>Address:</label>
							<span>{{data.profile.full_address}}</span>
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="col">
							<label>Number of times visited:</label>
							<span>{{data.visits|length}}</span>
						</div>
						<div class="col">
							<label>Number of times blacklisted:</label>
							<span>{{data.blacklist|length}}</span>
						</div>
					</div>
				</div>
			</div>
			{%if data.is_blacklist == False%}
			<div class="card-footer d-flex justify-content-end">
				<div
					class="btn btn-danger"
					data-toggle="modal"
					data-target="#blacklist_modal"
				>
					Add to Blacklist
				</div>
			</div>
			{%else%}
			<div class="card-footer d-flex justify-content-end">
				<div
					class="btn btn-default"
					data-toggle="modal"
					data-target="#cancel_modal"
				>
					Remove from Blacklist
				</div>
			</div>
			{%endif%}
		</div>
	</div>
</div>
{%endblock%}

{%block modal%} 

{%if data.is_blacklist == False%}
<div
	class="modal fade"
	data-backdrop="static"
	data-keyboard="false"
	id="blacklist_modal"
	tabindex="-1"
>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form id="blacklist_form">
				<div class="modal-header">
					<h5 class="modal-title">Reason for Blacklisting</h5>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="hidden" name="item" value="{{data.id}}" />
					<div class="form-group">
						<label for="">Visitor Name:</label>
						<span>{{data.profile.full_name}}</span>
					</div>
					<div class="form-group">
						<label>Remarks:</label>
						<textarea
							required
							name="remarks"
							rows="8"
							class="form-control"
						></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
{%else%}
<div
	class="modal fade"
	data-backdrop="static"
	data-keyboard="false"
	tabindex="-1"
	id="cancel_modal"
>
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Remove from Blacklist</h5>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input type="hidden" name="blacklist" value="{{blacklist.id}}" />
				<p>Are you sure?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
				<button type="button" id="remove_blacklist" class="btn btn-danger">
					Yes
				</button>
			</div>
		</div>
	</div>
</div>
{%endif%} 
{%endblock%} 

{%block plugin_css%}

{%endblock%}

{%block plugin_js%}
<script src="{{url_for('static', path='/plugins/moment/moment.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/jquery-validation/jquery.validate.min.js')}}"></script>
{%endblock%} 

{%block scripts%}
<script>
	$('#birth_date').text(
		moment('{{data.profile.birth_date}}').format('MMMM DD, YYYY')
	)

	$('#blacklist_form')
		.submit((e) => e.preventDefault())
		.validate({
			errorElement: 'span',
			errorPlacement: function (error, element) {
				error.addClass('invalid-feedback')
				element.closest('.form-group').append(error)
			},
			highlight: function (element, errorClass, validClass) {
				var elem = $(element)
				if (elem.hasClass('select2-hidden-accessible')) {
					elem
						.siblings('span.select2-container')
						.children('.selection')
						.children('.select2-selection')
						.addClass('is_error')
				}
				$(element).addClass('is-invalid')
			},
			unhighlight: function (element, errorClass, validClass) {
				$(element).removeClass('is-invalid')
			},
			submitHandler: function () {
				let remarks = $('[name=remarks]').val()
				let data = JSON.stringify({ remarks })

				$.ajax({
					type: 'DELETE',
					url: '/profile/blacklist/' + $('[name=item]').val(),
					data: data,
					contentType: 'application/json',
					dataType: 'json',
					success: function (response) {
						if (!response.error) {
							toastr.info(response.message)
							$('#blacklist_modal').modal('hide')
							setTimeout(() => window.location.reload(), 2000)
						} else toastr.error(response.message)
					},
				})
			},
		})

	$('#remove_blacklist').on('click', function () {
		$.ajax({
			type: 'PUT',
			url: '/profile/blacklist/remove/' + $('[name=blacklist]').val(),
			dataType: 'json',
			success: function (response) {
				if (!response.error) {
					toastr.success(response.message)
					$('#cancel_modal').modal('hide')
					setTimeout(() => window.location.reload(), 2000)
				} else {
					toastr.error(response.message)
				}
			},
		})
	})
</script>
{%endblock%}
