{%extends 'layouts/receptionist_dashboard.html'%}


{%block content%}
<div class="row">
	<div class="col-lg-8 col-md-12 ml-auto mr-auto">
		<div class="card card-primary card-outline">
			<form id="remarks_form">
				<div class="card-header">
					<div class="card-title">
						<h4>Visit Details</h4>
					</div>
				</div>
				<div class="card-body">
					<div class="container">
						<div class="row">
							<div class="col">
								<label>Name:</label>
								<span>{{data.appointment.full_name}}</span>
							</div>
							<div class="col">
								<label>Health Condition:</label>
								<span>{{data.health_form.condition}}</span>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<label>Email:</label>
								<span>{{data.appointment.email}}</span>
							</div>
							<div class="col">
								<label>Symptoms:</label>
								{%if data.health_form.symptoms == none%}
								<span>No Symptoms</span>
								{%else%}
								<span>{{', '.join(data.health_form.symptoms.split(';'))}}</span>
								{%endif%}
							</div>
						</div>
						<div class="row">
							<div class="col">
								<label>Contact Number:</label>
								<span>{{data.appointment.contact_number}}</span>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<label>Address:</label>
								<span>{{data.appointment.address}}</span>
							</div>
						</div>
						<hr />
						<div class="row">
							<div class="col">
								<div class="row">
									<div class="col">
										<label>Destination:</label>
										<span>{{data.appointment.station.name}}</span>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<label>Patient Name:</label>
										{%if data.appointment.patient_name != none%}
										<span>{{data.appointment.patient_name}}</span>
										{%else%}
										<span>None</span>
										{%endif%}
									</div>
								</div>
								<div class="row">
									<div class="col">
										<label>Purpose:</label>
										<span>{{data.appointment.purpose}}</span>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="row">
									<div class="col">
										<label>Check In:</label>
										<span
											>{{data.check_in.strftime('%b %d, %Y, %I:%M:%S
											%p')}}</span
										>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<label>Check Out:</label>
										{%if data.check_out != none%}
										<span
											>{{data.check_out.strftime('%b %d, %Y, %I:%M:%S
											%p')}}</span
										>
										{%else%}
										<span>Still checked in</span>
										{%endif%}
									</div>
								</div>
							</div>
						</div>
						<hr />
						<div class="row">
							<div class="col">
								<div class="form-group">
									<label>Remarks:</label>
									<textarea
										required
										name="remarks"
										rows="5"
										id="remarks"
										class="form-control"
									>{{data.remarks if data.remarks is false}}</textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="card-footer d-flex justify-content-end">
						<button class="btn btn-primary ml-2" type="submit">
							<i class="fas fa-edit"></i>
							Update
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{%endblock%} 

{%block plugin_css%}

{%endblock%} 

{%block plugin_js%}
<script src="{{url_for('static', path='/plugins/jquery-validation/jquery.validate.min.js')}}"></script>
{%endblock%} 

{%block scripts%}
<script>
	$('#remarks_form')
		.on('submit', (e) => e.preventDefault())
		.validate({
			errorElement: 'span',
			errorPlacement: function (error, element) {
				error.addClass('invalid-feedback')
				element.closest('.form-group').append(error)
			},
			highlight: function (element, errorClass, validClass) {
				var elem = $(element)
				$(element).addClass('is-invalid')
			},
			unhighlight: function (element, errorClass, validClass) {
				$(element).removeClass('is-invalid')
			},
			submitHandler: function () {
				let remarks = $('[name=remarks]').val()
				$.ajax({
					type: 'PUT',
					url: '/visits/details/{{data.id}}',
					data: JSON.stringify({ remarks }),
					dataType: 'json',
					contentType: 'application/json',
					success: function (response) {
						if (!response.error) {
							toastr.success(response.message)
						}
					},
				})
			},
		})
</script>
{%endblock%}
