{%extends 'layouts/receptionist_dashboard.html'%} 

{%block styles%}
<style>
	.dt-center {
		text-align: center;
	}
	td.dt-body-middle {
		vertical-align: middle;
	}
	.shrink {
		width: 12%;
	}
</style>
{%endblock%} 

{%block content%}
<div class="card card-primary card-outline card-tabs">
	<div class="card-header p-0 pt-1">
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item">
				<a
					class="nav-link {{'active' if request.query_params.get('tab') == 'all'}}"
					id="all-tab"
					data-toggle="pill"
					href="#all"
					role="tab"
					aria-controls="all"
					aria-selected="true"
					>Online</a
				>
			</li>
			<li class="nav-item">
				<a
					class="nav-link {{'active' if request.query_params.get('tab') == 'walkin'}}"
					id="walkin-tab"
					data-toggle="pill"
					href="#walkin"
					role="tab"
					aria-controls="walkin"
					aria-selected="true"
					>Walk-In</a
				>
			</li>
		</ul>
	</div>
	<div class="card-body">
		<div class="tab-content">
			<div
				class="tab-pane fade {{'show active' if request.query_params|length == 0}}"
			>
				<center>
					<h4>Please select tab.</h4>
				</center>
			</div>
			<div
				class="tab-pane fade {{'show active' if request.query_params.get('tab') == 'all'}}"
				id="all"
				role="tabpanel"
				aria-labelledby="all-tab"
			>
				<table class="table table-hover table-bordered" id="all_visits_table" width="100%">
					<thead>
						<tr>
							<th>Image</th>
							<th>Name</th>
							<th>Contact Number</th>
							<th>Check In</th>
							<th>Check Out</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
			<div
				class="tab-pane fade {{'show active' if request.query_params.get('tab') == 'walkin'}}"
				id="walkin"
				role="tabpanel"
				aria-labelledby="walkin-tab"
			>
				<table
					class="table table-hover table-bordered"
					id="walkin_visits_table"
					width="100%"
				>
					<thead>
						<tr>
							<th>Image</th>
							<th>Name</th>
							<th>Contact Number</th>
							<th>Check In</th>
							<th>Check Out</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{%endblock%}

{%block modal%}
<div
	class="modal fade"
	data-backdrop="static"
	data-keyboard="false"
	id="blacklist_modal"
	tabindex="-1"
>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form id="blacklist_form">
				<div class="modal-header">
					<h5 class="modal-title">Reason for Blacklisting</h5>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="hidden" name="item" />
					<input type="hidden" name="image" />
					<input type="hidden" name="visit" />
					<div class="form-group">
						<label for="">Visitor Name:</label>
						<span id="name"></span>
					</div>
					<div class="form-group">
						<label>Remarks:</label>
						<textarea
							required
							name="remarks"
							rows="8"
							class="form-control"
						></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
{%endblock%} 

{%block plugin_css%}
<link
	rel="stylesheet"
	href="{{url_for('static', path='/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}"
/>
<link
	rel="stylesheet"
	href="{{url_for('static', path='/plugins/datatables-scroller/css/scroller.bootstrap4.min.css')}}"
/>
<link
	rel="stylesheet"
	href="{{url_for('static', path='/plugins/datatables-responsive/css/responsive.bootstrap4.min.css')}}"
/>
<link
	rel="stylesheet"
	href="{{url_for('static', path='/plugins/datatables-buttons/css/buttons.bootstrap4.min.css')}}"
/>

{%endblock%}

 {%block plugin_js%}
<script src="{{url_for('static', path='/plugins/moment/moment.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-scroller/js/dataTables.scroller.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-scroller/js/scroller.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-responsive/js/dataTables.responsive.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-responsive/js/responsive.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-buttons/js/dataTables.buttons.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-buttons/js/buttons.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/jszip/jszip.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-buttons/js/buttons.html5.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/datatables-buttons/js/buttons.print.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/jquery-validation/jquery.validate.min.js')}}"></script>
{%endblock%} 

{%block scripts%}
<script>
	function newExportAction(e, dt, button, config) {
		var self = this
		var oldStart = dt.settings()[0]._iDisplayStart
		dt.one('preXhr', function (e, s, data) {
			// Just this once, load all data from the server...
			data.start = 0
			data.length = 2147483647
			dt.one('preDraw', function (e, settings) {
				// Call the original action function
				if (button[0].className.indexOf('buttons-copy') >= 0) {
					$.fn.dataTable.ext.buttons.copyHtml5.action.call(
						self,
						e,
						dt,
						button,
						config
					)
				} else if (button[0].className.indexOf('buttons-excel') >= 0) {
					$.fn.dataTable.ext.buttons.excelHtml5.available(dt, config)
						? $.fn.dataTable.ext.buttons.excelHtml5.action.call(
								self,
								e,
								dt,
								button,
								config
						  )
						: $.fn.dataTable.ext.buttons.excelFlash.action.call(
								self,
								e,
								dt,
								button,
								config
						  )
				} else if (button[0].className.indexOf('buttons-csv') >= 0) {
					$.fn.dataTable.ext.buttons.csvHtml5.available(dt, config)
						? $.fn.dataTable.ext.buttons.csvHtml5.action.call(
								self,
								e,
								dt,
								button,
								config
						  )
						: $.fn.dataTable.ext.buttons.csvFlash.action.call(
								self,
								e,
								dt,
								button,
								config
						  )
				} else if (button[0].className.indexOf('buttons-pdf') >= 0) {
					$.fn.dataTable.ext.buttons.pdfHtml5.available(dt, config)
						? $.fn.dataTable.ext.buttons.pdfHtml5.action.call(
								self,
								e,
								dt,
								button,
								config
						  )
						: $.fn.dataTable.ext.buttons.pdfFlash.action.call(
								self,
								e,
								dt,
								button,
								config
						  )
				} else if (button[0].className.indexOf('buttons-print') >= 0) {
					$.fn.dataTable.ext.buttons.print.action(e, dt, button, config)
				}
				dt.one('preXhr', function (e, s, data) {
					// DataTables thinks the first item displayed is index 0, but we're not drawing that.
					// Set the property to what it was before exporting.
					settings._iDisplayStart = oldStart
					data.start = oldStart
				})
				// Reload the grid with the original page. Otherwise, API functions like table.cell(this) don't work properly.
				setTimeout(dt.ajax.reload, 0)
				// Prevent rendering of the full data to the DOM
				return false
			})
		})
		// Requery the server with the new one-time export settings
		dt.ajax.reload()
	}

	let all_visits_table = $('#all_visits_table').DataTable({
		serverSide: true,
		responsive: true,
		ajax: '/visits/datatable/all',
		lengthChange: false,
		buttons: [
			{
				extend: 'excelHtml5',
				text: 'Save to Excel File',
				action: newExportAction,
				exportOptions: {
					columns: [1, 2, 3, 4],
				},
				title: '',
			},
			{
				extend: 'print',
				text: 'Print',
				action: newExportAction,
				exportOptions: {
					columns: [0, 1, 2, 3, 4],
					stripHtml: false,
				},
				title: '',
			},
		],
		initComplete: function () {
			all_visits_table
				.buttons()
				.container()
				.appendTo('#all_visits_table_wrapper .col-md-6:eq(0)')
		},
		language: {
			zeroRecords: 'No visits yet',
		},
		order: [
			[3, 'desc'],
			[4, 'asc'],
		],
		columnDefs: [
			{ targets: [1, 3, 4, 5], className: 'dt-body-middle' },
			{ targets: [0, 2], className: 'dt-body-middle shrink dt-center' },
		],
		columns: [
			{ data: 'image', render: (data) => `<img src="${data}" width="225" />` },
			{ data: 'full_name', sortable: false },
			{ data: 'contact_number', sortable: false },
			{
				data: 'check_in',
				render: {
					_: function (data) {
						return moment(data).format('MMMM DD, YYYY[<br/>]h:mm A')
					},
					sort: function (data) {
						return new Date(data).toLocaleTimeString()
					},
				},
			},
			{
				data: 'check_out',
				render: {
					_: function (data) {
						if (data != null) {
							return moment(data).format('MMMM DD, YYYY[<br/>]h:mm A')
						} else {
							return 'Still checked in'
						}
					},
					sort: function (data) {
						if (data != null) return new Date(data).toLocaleDateString()
						else return data
					},
				},
			},
			{
				data: 'id',
				render: (data, type, row) => {
					if (row.is_blacklist == true) {
						return `
                  <div class="text-center dropdown">
                    <a class="btn btn-sm btn-default" data-toggle="dropdown" role="button">
                        <i class="fas fa-ellipsis-v"></i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="/receptionist/visits/${data}" class="dropdown-item d-flex">
                            <div style="width: 2rem">
                                <i class="fas fa-eye"></i>
                            </div>
                            <div>View</div>
                        </a>
                    </div>
                </div>
              `
					} else {
						return `
                  <div class="text-center dropdown">
                    <a class="btn btn-sm btn-default" data-toggle="dropdown" role="button">
                        <i class="fas fa-ellipsis-v"></i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="/receptionist/visits/${data}" class="dropdown-item d-flex">
                            <div style="width: 2rem">
                                <i class="fas fa-eye"></i>
                            </div>
                            <div>View</div>
                        </a>

                        <div class="dropdown-item d-flex blacklist-btn" data-image="${row.image}" data-visit="${data}">
                            <div style="width: 2rem">
                                <i class="fas fa-user-slash"></i>
                            </div>
                            <div>Add to Blacklist</div>
                        </div>
                    </div>
                </div>
              `
					}
				},
			},
		],
	})

	let walkin_visits_table = $('#walkin_visits_table').DataTable({
		serverSide: true,
		responsive: true,
		ajax: '/visits/datatable/walkin',
		lengthChange: false,
		buttons: [
			{
				extend: 'excelHtml5',
				text: 'Save to Excel File',
				action: newExportAction,
				exportOptions: {
					columns: [1, 2, 3, 4],
				},
				title: '',
			},
			{
				extend: 'print',
				text: 'Print',
				action: newExportAction,
				exportOptions: {
					columns: [0, 1, 2, 3, 4],
					stripHtml: false,
				},
				title: '',
			},
		],
		initComplete: function () {
			all_visits_table
				.buttons()
				.container()
				.appendTo('#all_visits_table_wrapper .col-md-6:eq(0)')
		},
		language: {
			zeroRecords: 'No visits yet',
		},
		order: [
			[3, 'desc'],
			[4, 'asc'],
		],
		columnDefs: [
			{ targets: [1, 3, 4, 5], className: 'dt-body-middle' },
			{ targets: [0, 2], className: 'dt-body-middle shrink' },
		],
		columns: [
			{ data: 'image', render: (data) => `<img src="${data}" width="225" />` },
			{ data: 'full_name', sortable: false },
			{ data: 'contact_number', sortable: false },
			{
				data: 'check_in',
				render: {
					_: function (data) {
						return moment(data).format('MMMM DD, YYYY[<br/>]h:mm A')
					},
					sort: function (data) {
						return new Date(data).toLocaleTimeString()
					},
				},
			},
			{
				data: 'check_out',
				render: {
					_: function (data) {
						if (data != null) {
							return moment(data).format('MMMM DD, YYYY[<br/>]h:mm A')
						} else {
							return 'Still checked in'
						}
					},
					sort: function (data) {
						if (data != null) return new Date(data).toLocaleDateString()
						else return data
					},
				},
			},
			{
				data: 'id',
				render: (data, type, row) => `
              <div class="text-center dropdown">
                <a class="btn btn-sm btn-default" data-toggle="dropdown" role="button">
                    <i class="fas fa-ellipsis-v"></i>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <a href="/receptionist/visits/${data}" class="dropdown-item d-flex">
                        <div style="width: 2rem">
                            <i class="fas fa-eye"></i>
                        </div>
                        <div>View</div>
                    </a>

                    <div class="dropdown-item d-flex blacklist-btn" data-image="${row.image}" data-visit="${data}">
                        <div style="width: 2rem">
                            <i class="fas fa-user-slash"></i>
                        </div>
                        <div>Add to Blacklist</div>
                    </div>
                </div>
            </div>
          `,
			},
		],
	})

	$('#all_visits_table').on('click', 'tr', function (e) {
		if ($(e.target).parent().hasClass('blacklist-btn')) {
			let data = all_visits_table.row($(e.target).parents('tr')).data()
			$('#name').text(data.full_name)
			$('[name=image]').val($(e.target).parent().data('image'))
			$('[name=visit]').val($(e.target).parent().data('visit'))
			$('#blacklist_modal').modal('show')
		}
	})

	$('#walkin_visits_table').on('click', 'tr', function (e) {
		if ($(e.target).parent().hasClass('blacklist-btn')) {
			let data = walkin_visits_table.row($(e.target).parents('tr')).data()
			$('#name').text(data.full_name)
			$('[name=image]').val($(e.target).parent().data('image'))
			$('[name=visit]').val($(e.target).parent().data('visit'))
			$('#blacklist_modal').modal('show')
		}
	})

	$('#blacklist_modal').on('hide.bs.modal', function () {
		$('[name=item], [name=remarks]').val(null)
		$('#name').text('')
	})

	$('#blacklist_form')
		.submit((e) => e.preventDefault())
		.validate({
			errorElement: 'span',
			errorPlacement: function (error, element) {
				error.addClass('invalid-feedback')
				element.closest('.form-group').append(error)
			},
			highlight: function (element, errorClass, validClass) {
				var elem = $(element)
				if (elem.hasClass('select2-hidden-accessible')) {
					elem
						.siblings('span.select2-container')
						.children('.selection')
						.children('.select2-selection')
						.addClass('is_error')
				}
				$(element).addClass('is-invalid')
			},
			unhighlight: function (element, errorClass, validClass) {
				$(element).removeClass('is-invalid')
			},
			submitHandler: function () {
				let remarks = $('[name=remarks]').val()
				let image = $('[name=image]').val()
				let visit = $('[name=visit]').val()
				let data = JSON.stringify({ remarks, image, visit })

				$.ajax({
					type: 'DELETE',
					url: '/profile/blacklist/',
					data: data,
					contentType: 'application/json',
					dataType: 'json',
					success: function (response) {
						if (!response.error) {
							toastr.info(response.message)
							all_visits_table.draw()
							walkin_visits_table.draw()
							$('#blacklist_modal').modal('hide')
						} else toastr.error(response.message)
					},
				})
			},
		})
</script>
{%endblock%}
