{%extends './layouts/public.html'%} 

{%block styles%}
<style>
  .carousel .carousel-item {
    height: 500px;
  }

  .carousel-item img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    min-height: 300px;
  }
</style>
{%endblock%}

{%block content%}
<div id="homeCarousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#homeCarousel" data-slide-to="1"></li>
		<li data-target="#homeCarousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img
				src="https://images.unsplash.com/photo-1532938911079-1b06ac7ceec7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80"
				class="d-block w-100"
				alt="..."
			/>
			<div class="carousel-caption d-none d-md-block">
				<h4>Your health is our first concern</h4>
				<p>We always prioritize your good health and condition</p>
			</div>
		</div>
		<div class="carousel-item">
			<img
				src="https://images.unsplash.com/photo-1626351545208-28c9080106ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80"
				class="d-block w-100"
				alt="..."
			/>
			<div class="carousel-caption d-none d-md-block">
				<h4>Be updated to COVID-19 news</h4>
				<p>Check out our latest news and updates about COVID-19</p>
			</div>
		</div>
		<div class="carousel-item">
			<img
				src="https://images.unsplash.com/photo-1514415679929-1fd5193f14f7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80"
				class="d-block w-100"
				alt="..."
			/>
			<div class="carousel-caption d-none d-md-block">
				<h4>Best facilities and equipment</h4>
				<p>
					We can provide the best facilities and equipment for best medical care
				</p>
			</div>
		</div>
	</div>
	<a
		class="carousel-control-prev"
		href="#homeCarousel"
		role="button"
		data-slide="prev"
	>
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a
		class="carousel-control-next"
		href="#homeCarousel"
		role="button"
		data-slide="next"
	>
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<!-- User Redirect -->
<div class="content bg-white">
	<div class="p-3 p-md-4">
		<div class="container">
			<div class="row">
				<div class="col-md-4 m-1 m-md-0">
					<a
						href="#"
						class="btn btn-lg btn-outline-primary btn-block p-3 h-100"
						style="font-weight: 600"
					>
						<i class="fas fa-user-md mr-1"></i>
						<span>Find a Doctor</span>
					</a>
				</div>
				<div class="col-md-4 m-1 m-md-0">
					<a
						href="/visiting_schedule"
						class="btn btn-lg btn-outline-primary btn-block p-3 h-100"
						style="font-weight: 600"
					>
						<i class="fas fa-walking mr-1"></i>
						<span>I want to visit</span>
					</a>
				</div>
				<div class="col-md-4 m-1 m-md-0">
					<a
						href="#"
						class="btn btn-lg btn-outline-primary btn-block p-3 h-100"
						style="font-weight: 600"
					>
						<i class="fas fa-calendar-check mr-1"></i>
						<span>Book an Appointment</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Other Content -->
<div class="content">
	<div class="container py-5">
		<h1 class="text-center mb-5">Our Services</h1>

		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-md-8 order-2 order-md-1">
						<div class="mb-3">
							<h2 class="text-primary">Executive Health Check</h2>
							<h5>Be Healthy. Stay Healthy</h5>
						</div>
						<p class="text-secondary">
							Our team of doctors and healthcare professionals are on hand to
							guide you through your wellness journey. Our Executive Health
							Check ensures total care whether in gaining back your good health
							or maintaining your fitness level.
						</p>
						<a href="#" class="btn btn-primary">
							<span>Read more</span>
							<i class="fas fa-caret-right ml-1"></i>
						</a>
					</div>
					<div class="col-md-4 order-1 order-md-2">
						<div class="d-flex justify-content-md-end">
							<img
								class="w-100 rounded mb-3 mb-md-0"
								src="https://images.unsplash.com/photo-1542884748-2b87b36c6b90?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80"
								alt="Executive Health Check"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-md-8 order-2 order-md-1">
						<div class="mb-3">
							<h2 class="text-primary">Cardiovascular Center</h2>
							<h5>State-of-the-Heart experience</h5>
						</div>
						<p class="text-secondary">
							Our Cardiovascular Center offers the finest and most comprehensive
							care for heart patients that is recognized both here and abroad
							for its medical breakthroughs.
						</p>
						<a href="#" class="btn btn-primary">
							<span>Read more</span>
							<i class="fas fa-caret-right ml-1"></i>
						</a>
					</div>
					<div class="col-md-4 order-1 order-md-2">
						<div class="d-flex justify-content-end">
							<img
								class="w-100 rounded mb-3 mb-md-0"
								src="https://images.unsplash.com/photo-1460672985063-6764ac8b9c74?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1476&q=80"
								alt="Cardiovascular Center"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-md-8 order-2 order-md-1">
						<div class="mb-3">
							<h2 class="text-primary">Oncology Unit</h2>
							<h5>Devotion to Excellent Care.</h5>
						</div>
						<p class="text-secondary">
							Our Oncology Unit provides expert patient care with a
							compassionate touch. We are committed to deliver excellent care to
							meet the medical and emotional needs of patients and their
							families.
						</p>
						<a href="#" class="btn btn-primary">
							<span>Read more</span>
							<i class="fas fa-caret-right ml-1"></i>
						</a>
					</div>
					<div class="col-md-4 order-1 order-md-2">
						<div class="d-flex justify-content-end">
							<img
								class="w-100 rounded mb-3 mb-md-0"
								src="https://images.unsplash.com/photo-1598884143267-586d90a32141?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1473&q=80"
								alt=""
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock%}
